@media only screen and (min-width: 1699px) {
  .prof_rgt .hd_box {
    width: 45%;
  }

  .prof_rgt .totl_viewbox {
    flex-direction: row;
  }

  .prof_rgt .totl_viewbox .custom-select {
    width: 118px;
  }

  .prf_revbox .profile_view .prof_hd .vlue_compare {
    font-size: 14px;
  }


}

@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1470px;
    width: 100%;
    padding: 0px 15px;
  }

  .container-fluid {
    width: 100%;
    max-width: 100%;
    padding: 0px 60px;
  }

  /* 18feb2025/////////////// */

  .mi_detail .overview_list .overlist_box .overlist_value .overlist_sp .overlst_an img {
    padding-bottom: 4px;
    padding-left: 10px !important;
  }

  .prf_revbox .profile_view {
    padding-top: 30px;
  }

  .prf_revbox .profile_view .prof_hd h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .prf_revbox .profile_view .prof_hd .prof_vlu {
    font-size: 28px;
    line-height: 32px;
}
.prf_revbox .profile_view .prof_hd {
  padding-bottom: 18px;
}
.review_scroll .rating-container .star {
  font-size: 20px;
}
.review_scroll .review_box .rew_para {
  padding: 10px 0;
}
.review_scroll {
  height: 100%;
  max-height: 360px;
}

}

@media only screen and (max-width: 1599px) {
  .all-unread-tabs {
    max-height: 350px;
  }

  .dropdown-menu.dropdown-menu-right.notify-drop-main {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1499px) {
  h1 {
    font-size: 45px;
    line-height: 1.2;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;

  }

  .user_content .acc-box {
    padding: 40px 35px;
    gap: 20px;
  }

  footer.ds_ftr {
    padding: 35px 0px;
  }

  .user_content .acc-box .acc-img {
    max-width: 75px;
  }

  h4 {
    font-size: 25px;
    line-height: 1.2;

  }

  .crt_ryt {
    gap: 30px;
  }

  .cart_dv .crt_lft {
    gap: 25px;

  }

  .dropdown-menu .user_detail {
    padding: 20px 20px;
  }

  .drop_menu .dropdown-menu .dropdown-item {
    padding: 15px 20px;
  }

  .user_detail h5 {
    font-size: 18px;
    line-height: 1.2;
  }

  .drop_menu .dropdown-menu .dropdown-item {
    padding: 12px 20px;
  }

  .part_review {
    padding: 30px;

  }

  .row.cart_dv.savings_main {
    padding: 30px;
  }

  .visit-btn .unq_btn {
    padding: 12px 28px;
    font-size: 16px;
  }

  .review-btm {
    gap: 30px;
  }

  .copy-svg {
    padding: 10px 22px;
  }

  .copy-cod-txt p {
    width: calc(100% - 65px);
  }

  .user_dashbord .user_content {
    padding: 60px 50px 60px 50px;
  }

  .rewrd-innr-btm,
  .rewrd-innr-crd {
    padding: 25px;
  }

  .rewrd-innr-crd h6 {
    margin: 24px 0;
    font-size: 18px;
    line-height: 1.2;
  }

  .crt-lft-top,
  .crt-ratings {
    gap: 20px;
  }

  .cart_text h3 {
    font-size: 28px;
  }

  .cart_img.crt-lft-img img {
    height: 100px;
    width: 100px;
  }

  .review-btm {
    padding-top: 30px;
  }

  .cart_dv.review_dv {
    padding: 33px;
  }

  h6 {
    font-size: 20px;
    line-height: 1.2;
  }

  .blue-btn {
    font-size: 16px;
  }

  .apply-btn .blue-btn {
    padding: 10px;

  }

  .sve-btn .unq_btn {
    padding: 13px 45px;
  }

  .profile-main {
    padding: 30px;
  }

  .profile-main .rewrd-inner-hd h4 {
    font-size: 22px;
  }

  .rewrd-inner-hd {
    padding: 12px 25px;
  }
  /* 18feb NT */
  .listing-table .user-name img {
    height: 90px;
    min-width: 90px;
    border-radius: 50%;
}
.integrations ul {
  flex-wrap: wrap;
}

.feature-box {
  padding: 20px;
}

.features {
  gap: 20px;
}

.edit-listing .edit-box {
  padding: 30px 20px;
}

.feature-box ul li {
  padding-left: 20px;
}
}

@media only screen and (max-width: 1399px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .left-text ul li a.nav-link {
    font-size: 16px;
    line-height: 1.2;
    padding: 8px 28px 8px 10px;
  }

  .left-text ul li.nav-links {
    margin-bottom: 18px;
  }

  .user_content .acc-box {
    padding: 30px 30px;
    gap: 18px;
  }

  footer.ds_ftr {
    padding: 30px 0px;
  }

  .main_dhdr {
    padding: 15px 0px;
  }

  .main_dhdr .hdr_ryt .hdr_info {
    gap: 25px;
  }

  .main_dhdr .form button {
    height: 48px;
  }

  .user_dashbord .table-container th {
    font-size: 16px;
    line-height: 1.2;
    padding: 12px 20px;

  }

  .user_dashbord .table-container td {
    padding: 14px 30px;
    font-size: 16px;
    line-height: 19.5px;

  }

  .cart_dv.ctv_docx .crt_lft {
    gap: 25px;
  }

  .cart_dv.ctv_docx .crt_lft .cart_text .crt_sub p {
    font-size: 18px;
    line-height: 1.2;

  }

  .cart_dv.ctv_docx .crt_lft .cart_img {
    padding: 20px 30px;
  }

  .unq_btn.dc_btn {
    padding: 15px;

  }

  .cart_dv.ctv_docx .crt_lft .cart_text p {
    margin-bottom: 10px;
  }

  .user_content .acc-box .acc-img {
    max-width: 70px;
  }

  .user_dashbord .user_content.user_info .uer_nm {
    margin-bottom: 30px;
  }

  .user_pernl_info {
    padding: 25px 50px 35px 35px;
  }

  .doc_img {
    max-width: 90px;
  }

  .editar_documento .dcmnt_btn a.unq_btn {
    padding: 15px 40px;
  }

  .editar_documento {
    margin-top: 50px;
  }

  .data_take {
    padding: 12px 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .input_fuild input[type="text"] {
    padding: 15px;
  }

  .part_review {
    padding: 25px;
  }

  .part_2 p {
    margin-top: 20px;
  }

  .part2_child-1 p {
    font-weight: 400;
    margin-top: 0px;
  }

  .dropdown-menu_review .user_name p {
    margin: 0px;
    padding: 10px 0px;
  }

  .dropdown-menu_review p {
    font-size: 18px;
    line-height: 1.2;
  }

  .inner_1part {
    margin-bottom: 15px;
  }

  .copy-svg {
    padding: 15px 26px;
  }

  .copy-svg svg {
    height: 13px;
    width: 13px;
  }

  .copy-cod-txt p {
    width: calc(100% - 35px);
  }

  .copy-cod-txt {
    font-size: 14px;
  }

  .rewrd-innr-crd {
    padding: 25px 20px;
  }

  .profile-main-hd {

    padding-bottom: 30px;
  }





  /* NT 18feb 25 */
  .listing-table .user-name img {
    height: 80px;
    min-width: 80px;
}

.listing-table h3 {
    font-size: 28px;
}

.listing-table tr {
    padding: 20px;
}

.listing-table .blue-btn {
    padding: 12px 30px;
}

.listing-table .user-info {
  gap: 15px;
}

.new-listing .form-block input {
  padding: 16px;
}

.new-btn {
  margin-top: 35px;
}

}

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 24px;
  }

  .main_dhdr .form {
    width: 600px;

  }

  .user_dashbord .dashboard_lft {
    padding: 40px 0px 40px 40px;

  }

  .left-text ul li a.nav-link .side-links {
    gap: 12px;

  }

  .user_content .acc-box {
    padding: 20px;
    gap: 15px;
  }

  .user_content .acc-box .acc-img {
    max-width: 70px;
  }

  body {
    font-size: 16px;
    line-height: 1.4;

  }

  footer.ds_ftr {
    padding: 25px 0px;
  }

  .ds_ftr .foot_end_box .reserve_box {
    line-height: 1.4;
  }

  .main_dhdr .form button {
    height: 40px;
  }

  .main_dhdr .hdr_ryt .hdr_info {
    gap: 20px;
  }

  .cart_dv {
    padding: 20px 20px;

  }

  .cart_dv .crt_lft {
    gap: 20px;
  }

  .cart_dv .crt_lft .cart_text h4 {
    margin-bottom: 10px;
  }

  .crt_ryt {
    gap: 24px;
  }

  .unq_btn.dc_btn {
    padding: 15px;

  }

  .main_doxc {
    margin-top: 25px;

  }

  .cart_dv.ctv_docx .crt_lft .cart_text .crt_sub p {
    font-size: 16px;
    line-height: 1.2;
  }

  .cart_dv.ctv_docx .crt_lft .cart_text p {
    margin-bottom: 10px;
  }

  .doc_box {
    padding: 30px 30px 30px;
  }

  .doc_img {
    max-width: 80px;
    margin-bottom: 20px;
  }

  .dropdown-menu .user_detail {
    padding: 18px 18px;
  }

  .user_pernl_info {
    padding: 20px 30px 30px 30px;
  }

  .cart_dv.ctv_docx .crt_lft .cart_img {
    padding: 20px 20px;
  }

  .editar_documento .dcmnt_btn a.unq_btn {
    padding: 14px 30px;
  }

  .editar_documento {
    margin-top: 40px;
  }

  /* .form {
  margin-bottom: 30px;
} */
  .user_pernl_info {
    padding: 25px;
  }

  .info {
    gap: 10px;
  }

  .input_fuild input[type="text"] {
    padding: 15px;
  }

  .input_fuild {
    flex: 1 1 calc(50% - 10px);
    margin-bottom: 15px;
  }

  .input_fuild input[type="text"]::placeholder {
    font-size: 16px;
    font-weight: 300;
    line-height: 15.66px;
  }

  .eliminar_cuenta p {
    margin: 14px 0px;
  }

  .eliminar_cuenta {
    padding: 25px;
  }

  .input_fuild label {
    margin-bottom: 12px;
  }

  .input_fuild {
    margin-bottom: 12px;
  }

  .data_take {
    font-size: 20px;
  }

  .body_form {
    margin-bottom: 40px;
  }

  .body_form input[type="text"] {
    font-size: 14px;
    line-height: 1.2;

  }

  .wrap {
    margin: 25px 0px;
  }

  .dropdown-menu_review .dropdown-main .dash-icon .dropdown-item {
    font-size: 16px;
    padding: 10px 10px 10px 15px;
  }

  .part_review {
    padding: 20px;
  }

  .part_2 h4 {
    margin: 10px 0px;
    font-size: 21px;
    max-width: 510px;
  }

  .part_2 p {
    margin: 11px 0px;

  }

  .part2_child-1 p {
    margin-top: 0px;
  }

  .dropdown-menu_review .dropdown-main .dash-icon .dropdown-item {
    font-size: 15px;
    padding: 8px 10px 10px 15px;
  }

  .inner_1part {
    margin-bottom: 11px;
  }

  .part2_child-1 p {
    line-height: 1.4;

  }

  .revies_persn .name_star p {
    font-size: 22px;
    line-height: 1.2;

  }

  .user_dashbord .user_content {
    padding: 50px 50px 60px 50px;
  }

  .cart_img.crt-lft-img img {
    height: 90px;
    width: 90px;
  }

  .visit-btn .unq_btn {
    padding: 12px 21px;
    font-size: 15px;
  }

  .review-btm-lft h6 {
    margin-bottom: 8px !important;
  }

  .cart_dv.review_dv {
    padding: 25px;
  }

  .points-img img,
  .gift-img img {
    height: 80px;
    width: 80px;
  }

  .points-text p {
    margin-bottom: 5px;
    font-size: 18px;
    gap: 15px;
  }

  .rewrd-innr-btm .row {
    gap: 20px 0;
  }

  .rewrd-innr-btm .row>div {
    width: 50%;
  }

  .form-wrp input,
  .form-wrp select {
    padding: 12px 15px;
    font-size: 14px;
  }

  .form-wrp label {
    margin-bottom: 8px;
  }

  .form-wrp input,
  .form-wrp select {
    height: 45px
  }

/* 18feb 25 NT */
.listing-table .price {
  font-size: 22px;
  line-height: 1.2;
}

.listing-table .user-name img {
  height: 60px;
  min-width: 60px;
}

.star-box {
  gap: 5px;
}

.listing-table h3 {
  font-size: 24px;
}

.listing-table tr {
  padding: 15px;
}

.listing-table .user-info {
  gap: 10px;
}

.listing-table .rating {
  gap: 10px;
  flex-direction: column;
  align-items: baseline;
}

.listing-table .edit-icon a {
  height: 40px;
  width: 40px;
}
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }

  .user_dashbord .user_content .uer_nm {
    margin-bottom: 15px;
  }

  .main_dhdr .hdr_lft {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
  }

  .user_dashbord .dashboard_lft {
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    position: absolute;
    left: -15px;
    right: 0;
    z-index: 1;
    height: 100vh;
    /* width: 100%; */
    overflow-y: scroll;
  }

  .user_dashbord .dashboard_lft.menu-open {
    transform: translateX(0%);
    z-index: 10;

  }

  /* Toggler Button */
  .menu-toggler {
    width: 45px;
    height: 25px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    background: none;
  }

  .menu-toggler span {
    height: 3px;
    width: 100%;
    background-color: #000;
  }

  .menu-toggler.active .bar1 {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggler.active .bar2 {
    opacity: 0;
  }

  .menu-toggler.active .bar3 {
    transform: translateY(-12px) rotate(-45deg);
  }

  .main_dhdr .form {
    min-height: 59px;
    width: 350px;
  }

  .main_dhdr .hdr_ryt .hdr_info {
    gap: 20px;
  }

  body {
    font-size: 16px;
    line-height: 1.4;

  }

  .user_content .acc-box {
    padding: 15px;
    gap: 15px;
  }

  .user_content .acc-box .acc-img {
    max-width: 50px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.2;
  }

  .main_dhdr .hdr_lft .navbar-brand {
    max-width: 190px;

  }

  .user_dashbord .user_content {
    padding: 30px 30px;
  }

  footer.ds_ftr {
    padding: 20px 0px;
  }

  .ds_ftr .foot_end_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .ds_ftr .dropdown-options {
    right: 5%;
    left: 12px;
  }

  .main_dhdr {
    padding: 12px 0px;
  }

  .main_dhdr .form input[type="search"] {
    font-size: 12px;
    line-height: 14.63px;
    padding: 14px;
    padding-left: 15px;
  }

  .cart_dv .crt_lft {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart_dv .crt_lft .cart_img {
    max-width: 100%;
  }

  .cart_dv {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    position: relative;
  }

  .shr_dt {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .crt_ryt .datt_text {
    flex: 0 0 100%;
  }

  .crt_ryt {
    gap: 0;
    justify-content: flex-start;
  }

  .crt_ryt .datt_text p {
    text-align: left;

  }

  .cart_dv {
    padding: 15px 15px;
  }

  .shr_dt span {
    width: 40px;
    height: 40px;
  }

  .crt_ryt .edt_lnk span {
    width: 40px;
    height: 40px;
  }

  h4 {
    font-size: 22px;

  }

  .cart_dv {
    margin-bottom: 20px;

  }

  .user_dashbord .table-container td {
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.2;
  }

  .user_dashbord .table-container th {
    font-size: 15px;
    line-height: 1.2;
    padding: 10px 18px;
  }

  .user_dashbord .main_ryt {
    padding: 20px;

  }

  .user_dashbord .table-container td {
    font-size: 14px;
    line-height: 1.2;
  }

  .btm_btn {
    margin-top: 30px;
  }

  .user_dashbord .main_ryt h2 {
    margin-bottom: 20px;
  }

  .doc_img {
    max-width: 60px;
    margin-bottom: 14px;
  }

  .doc_text p {
    font-size: 16px;
    line-height: 1.4;

  }

  .cart_dv.ctv_docx {
    padding: 20px;
    margin-bottom: 30px;
  }

  .user_pernl_info {
    padding: 20px;
  }

  .user_dashbord .user_content.user_info .uer_nm {
    margin-bottom: 20px;
  }

  .doc_box {
    padding: 25px;
  }

  .main_doxc {
    margin-top: 20px;
  }

  .cart_dv.ctv_docx .crt_lft .cart_img {
    padding: 15px 15px;
  }

  .editar_documento {
    margin-top: 30px;
  }

  .body_form {
    margin-bottom: 30px;
  }

  .eliminar_cuenta p {
    margin: 10px 0px;
  }

  .form {
    margin-bottom: 25px;
  }

  .info {
    gap: 0px;
    flex-direction: column;
  }

  .input_fuild {
    width: 100%;
  }

  .input_fuild label {
    margin-bottom: 10px;
  }

  .input_fuild input[type="text"] {
    padding: 12px;
  }

  label.rfc {
    margin: 10px 0px;
  }

  .form .input_fuild {
    width: 100%;
  }

  label.rfc {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .unq_btn,
  .user_pernl_info a.user_link {
    font-size: 14px;
    padding: 10px 20px;
  }

  .input_fuild input[type="text"]::placeholder {

    font-size: 14px;
    line-height: 13.66px;
  }

  .input_fuild input[type="text"] {
    font-size: 16px;
  }

  .gr_btn {
    max-width: 170px;
  }

  .data_take {
    font-size: 18px;
  }

  .img_cambair {
    gap: 20px;

  }

  .user_dashbord .user_content.user_info .uer_nm {
    margin-bottom: 20px;
  }

  .input_fuild label {
    margin-bottom: 12px;
  }

  .wrap {
    margin: 20px 0px;
  }

  .part_2 p {
    margin-top: 0px;


  }

  .part_review {
    padding: 15px;
  }

  .part_review {
    margin-bottom: 20px;
  }

  .editor {
    resize: unset;
  }

  .wrap::after {
    display: none;

  }

  .dropdown-menu_review .dropdown-main .dash-icon .dropdown-item {
    font-size: 14px;
    padding: 10px 10px 10px 15px;
  }

  .crt_ryt {
    justify-content: space-between;
    width: 95%;
  }

  .part2_child-2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .part_review {
    position: relative;
  }

  .row.cart_dv.savings_main {
    padding: 25px;
    margin: 0;
    margin-bottom: 30px;
  }

  .crt_ryt.save-rgt {
    width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .crt-lft-btm {
    padding-bottom: 10px;
  }

  .crt-lft-top,
  .crt-ratings {
    gap: 15px;
  }

  .value-p span {
    font-size: 25px;
  }

  .review-btm {
    padding-top: 0px;
  }

  .blue-btn,
  .sve-btn .unq_btn {
    padding: 13px 30px;
  }

  .profile-main-hd {
    gap: 25px;
  }

  .form-wrp input,
  .form-wrp select {
    font-size: 13px;
  }

  .deactivate-accnt h6 {
    font-size: 20px;
    font-weight: 500;
  }

  .profile-main.deactivate-accnt p {
    margin: 10px 0;
    font-size: 15px;
  }

  .profile-main {
    padding: 30px 25px;
  }
  .hdr_info .form {
    margin: 0;
}
}

@media only screen and (max-width: 767px) {
  .main_dhdr .form {
    display: none;
  }

  .notf {
    display: none;
  }

  .main_dhdr .hdr_lft .navbar-brand {
    max-width: 160px;
  }

  .usr_profile {
    max-width: 50px;
  }

  .user_content .acc-box {
    align-items: flex-start;
  }

  .user_dashbord .dashboard_lft {
    padding: 30px 0px 30px 30px;
  }

  .drop_menu .dropdown-menu {
    display: none;
  }

  .user_dashbord .main_ryt h2 {
    margin-bottom: 10px;
  }

  .unq_btn.dc_btn {
    padding: 10px;
  }

  .unq_btn {
    font-size: 14px;
    line-height: 1.2;
  }

  .user_content .acc-box {
    gap: 12px;
  }

  .data_take {
    font-size: 16px;
  }

  .input_fuild input[type="text"] {
    font-size: 14px;
  }

  .user_dashbord .user_content {
    padding: 30px 25px;
  }

  .main_doxc {
    gap: 15px;
    /* flex-direction: column; */
  }

  .main_doxc .dcx_btn {
    width: 50%;
    text-align: center;
  }

  .body_form {
    margin-bottom: 20px;
  }

  .input_fuild::placeholder {
    font-size: 9px;
    line-height: 8.66px;
  }

  .input_fuild {
    margin-bottom: 10px;
  }

  .img_cambair {
    gap: 15px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: start !important;
  }

  .unq_btn,
  .user_pernl_info a.user_link {
    font-size: 15px;
    padding: 12px 15px;
  }

  .form {
    padding: 15px;
    margin-bottom: 20px;
  }

  .input_fuild input[type="text"]::placeholder {
    font-size: 11px;
    line-height: 1;
  }

  .body_form {
    padding: 15px;

  }

  .eliminar_cuenta p:nth-of-type(2) {
    font-size: 16px;
  }

  .wrap {
    margin: 15px 0px;
  }

  .revies_persn .name_star p {
    font-size: 20px;
    line-height: 1;
  }

  .part_2 h4 {
    font-size: 17px;
    width: 80%;
    line-height: 1.2;
  }

  .cart_img.crt-lft-img img {
    height: 80px;
    width: 80px;
  }

  .points-img img,
  .gift-img img {
    height: 70px;
    width: 70px;
  }

  .rewrd-innr-btm,
  .rewrd-innr-crd {
    padding: 20px;
  }

  .points-div {
    gap: 13px;
  }

  .points-text p {
    font-size: 14px;
  }


  /* NT 18feb 25 */
  .listing-table tr td:first-child {
    flex: 0 0 100%;
}

.listing-table tr {
    flex-wrap: wrap;
}

.new-listing .new-form {
  padding: 20px;
}

.new-listing .form-block {
  gap: 10px;
  margin-bottom: 20px;
}

.new-listing .form-block input {
  padding: 12px;
  font-size: 14px;
}

}

@media (max-width: 600px) {
  .user_dashbord .table-container table {
    font-size: 14px;
  }

  .user_dashbord .table-container th,
  td {
    padding: 8px;
  }

  body {
    font-size: 14px;
  }

  .main_doxc {
    flex-direction: column;
  }

  .main_doxc .dcx_btn {
    width: 100%;
    text-align: center;
  }

  .crt_ryt {
    width: 90%;
  }

  .part2_child-2 .shr_dt.dot {
    margin-left: auto;
    right: 5px;
  }
}

@media only screen and (max-width: 575px) {
  .left-text ul li a.nav-link .side-links .icons-links {
    width: 42px;
    height: 42px;

  }

  .left-text ul li a.nav-link {
    font-size: 16px;
    line-height: 1.2;
    padding: 6px 10px;
  }

  .left-text ul li a.nav-link .side-links {
    gap: 10px;
  }

  .user_content .acc-box .acc-img {
    max-width: 45px;
  }

  .user_dashbord .main_ryt h2 {
    margin-bottom: 5px;
  }

  .cart_dv.ctv_docx .crt_lft .cart_text p {
    margin-bottom: 5px;
  }

  .editar_documento {
    flex-direction: column;
  }

  .editar_documento .dcmnt_btn {
    max-width: 100%;
    width: 100%;
  }

  .cart_dv .crt_lft .cart_img {
    max-width: 100%;
    width: 100%;
  }

  .cart_dv .crt_lft .cart_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user_pernl_info {
    margin-bottom: 15px;
    padding: 20px;
    border: none;
  }

  .eliminar_cuenta {
    padding: 20px;
  }

  .body_form {
    margin-bottom: 15px;

  }

  .eliminar_cuenta p {
    line-height: 1.4;
    font-size: 15px;
  }

  .gr_btn {
    max-width: 150px;
  }

  #bold,
  #italic,
  #underline {
    font-size: 15px;
  }

  .wrap {
    margin: 10px 0px;
  }

  p.time_re {
    text-align: left;
    margin-top: 10px;
    margin: 0px;
  }

  .part_2 h4 {
    width: 100%;
    margin: 5px 0px;
  }

  .start_name {
    line-height: 1.2;
  }

  .star_box {
    line-height: 15px;
    padding: 0px;
  }

  .toolbar button {
    padding: 0px 8px;
  }

  .crt_ryt {
    width: 85%;
  }

  .row.cart_dv.savings_main {
    padding: 20px;
  }

  .cart_text h3 {
    font-size: 23px;
    line-height: normal;
  }

  .cart_img.crt-lft-img img {
    height: 70px;
    width: 70px;
  }

  .stars img {
    height: 18px;
    width: 18px;
  }

  .crt-lft-top {
    align-items: self-start;
    flex-direction: column;
    gap: 10px;
  }

  .crt-ratings {
    font-size: 15px;
  }

  .crt_ryt.save-rgt {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .visit-btn .unq_btn {
    font-size: 14px;
  }

  .start-price h5 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .cross-icon {
    top: 20px;
    right: 20px;
    height: 32px;
    width: 33px;
  }

  h6 {
    font-size: 18px;
    line-height: 1.2;

  }

  .cart_dv.review_dv .crt-lft-top {
    gap: 10px;
  }

  .cart_dv.review_dv {
    padding: 25px 20px;
  }

  .review_dv:first-child .star-div .stars {
    padding: 0;
  }

  .crt-ratings {
    height: 20px;
  }

  .rewrd-innr-btm {
    flex-direction: column;
  }

  .rewrd-innr-btm>div,
  .rewrd-innr-btm .row>div {
    width: 100%;
  }

  .rewrd-innr-btm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rewrd-innr-btm .row>div {
    padding: 0;
  }

  .rewrd-inner-hd {
    padding: 10px 20px;
  }

  .rewrd-inner-hd h4 {
    font-size: 20px;
  }

  .rewrd-innr-crd h6 {
    margin: 18px 0;
    font-size: 16px;
  }

  .three-dots img {
    top: 30px;
    right: 23px;
  }

  .profile-main-hd {
    flex-direction: column;
  }

  .blue-btn {
    font-size: 15px;
  }

  .rewrd-innr-btm form .row {
    gap: 20px 0;
    padding: 0 12px;
  }

  .sve-btn .unq_btn {
    padding: 12px 24px;
    font-size: 13px;
  }

  .profile-main {
    padding: 20px 17px;
  }

  .profile-main.deactivate-accnt {
    margin-top: 25px;
  }
  .srrw-svg svg {
    height: 10px;
    margin-bottom: 2px;
}

/* NT 18 feb 2025 */
.listing-table td {
  padding-left: 0;
  padding-right: 0;
}

.listing-table .blue-btn {
  padding: 10px 15px;
  line-height: 1.2;
}

.heading-bar {
  flex-direction: column;
}

}

.points-text h2 {
  font-weight: 700;
}