@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* font-family: "Montserrat", sans-serif !important; */
    font-family: 'Basis Grotesque Pro';
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: #000;

}

img {
    max-width: 100%;
}

.btn:focus {
    box-shadow: none;
}

a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    border: none;
}

a:hover,
button:hover {
    text-decoration: none;
    outline: none;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;

}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #002347;

}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;
    color: #000000;

}

h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

h6 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.sub_vlue {
    color: rgb(219, 68, 55) !important;
}

.plse_vlue {
    color: #F9633B;

}


.user_detail h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
    margin-bottom: 0;

}

.unq_btn {
    background-color: #FD5602;
    border: 1px solid #FD5602;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
    border-radius: 130px;
    padding: 13px 38px;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    max-width: fit-content;
}

.unq_btn:hover {
    background-color: #fff;
    color: #FD5602;
}

.blue-btn {
    background-color: #06498B;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 190px;
    display: inline-block;
    padding: 13px 45px;
}

.blue-btn:hover {
    background-color: #F9633B;
    color: #fff;
    transition: 0s;
}

.dropdown-menu .user_detail p {
    margin-bottom: 0;
}

.drop_menu {
    cursor: pointer;
}

.main_dhdr {
    padding: 20px 0px 30px 0;
    background-color: #fff;
}

.main_dhdr nav.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0;
}

.main_dhdr .form {
    border: 1px solid #06498B26;
    padding: 6px 7px;
    border-radius: 110px;
    /* position: relative; */
    min-height: 59px;
    width: 693px;
    display: flex;
    align-items: center;
}

.main_dhdr .hdr_ryt .hdr_info {
    display: flex;
    align-items: center;
    gap: 32px;
}

.main_dhdr .form input[type="search"] {
    background: none;
    border: none;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    height: 100%;
    padding: 15px;
    padding-left: 22px;
}

.main_dhdr .form input:focus {
    border: none;
    outline: none;
}

.main_dhdr .form button {
    background: #F9633B;
    /* top: 0; */
    color: #fff;
    border-radius: 110px;
    width: 79px;
    height: 47px;
    border: 1px solid #F9633B;
    transition: all 0.3s ease-in-out;
}

.main_dhdr .form button:hover {
    border-color: #FD5602;
    background: #fff;
    color: #FD5602;
}

.main_dhdr .hdr_lft .navbar-brand {
    display: inline-block;
    max-width: 219px;
    margin: 0;
    padding: 0;
}

.notf .notfictn_lnk i {
    color: #000000;
}


.notf .notfictn_lnk {
    position: relative;
    display: inline-block;
}

.notf .notfictn_lnk img {
    max-width: 20px;
}

.usr_profile {
    max-width: 60px;
}

.notf .notfictn_lnk .badge {
    position: absolute;
    top: -2px;
    right: -6px;
    background: #FD5602;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* user dashboard css start here */
.user_dashbord .dashboard_lft {
    background: #06498B;
    padding: 50px 0px 50px 50px;
    height: 100%;
}


.left-text ul li a.nav-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #fff;
    padding: 8px 28px 8px 15px;
    transition: all 0.2s ease-in-out;
}

.left-text ul li a.nav-link .side-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-text ul li a.nav-link .side-links .icons-links {
    border: 1px solid #FFFFFF;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.left-text ul li:hover a.nav-link .side-links .icons-links {
    border-color: #000;
}

.left-text ul li.nav-links {
    margin-bottom: 20px;
}

.left-text ul li a.nav-link.active {
    background: #f7f9fb;
    border-radius: 150px 0px 0px 150px;
}

.left-text ul li a.nav-link.active {
    color: #012555;
}

.left-text ul li a.nav-link.active .icons-links img {
    filter: invert(1);
}

.left-text ul li a.nav-link.active svg path {
    transition: all 0.3s ease-in-out;
}


.left-text ul li a.nav-link.active svg:hover path {
    fill: #012555;
    stroke: #012555;
}

.left-text ul li:hover a.nav-link {
    color: #012555;
    background-color: #f7f9fb;
    border-radius: 150px 0px 0px 150px;
}

.left-text ul li:hover a.nav-link svg path {
    fill: #012555;
    stroke: #012555;
}

.left-text ul li:hover a.nav-link.nav_sv svg path:last-child {
    fill: #fff;
    stroke: #fff;
}

.left-text ul li a.nav-link.active .side-links .icons-links {
    border-color: #000;
}

.user_dashbord .user_content {
    padding: 60px 65px 60px 65px;
}

.user_dashbord .user_content .uer_nm {
    margin-bottom: 20px;
}




/* footer css */
footer.ds_ftr {
    padding: 40px 0px;
    position: relative;
}

.ds_ftr .foot_end_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds_ftr .foot_end_box .reserve_box {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #000000;
}

.ds_ftr span#selected-option {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: right;
    color: #000;
}

.ds_ftr .custom-select {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
    cursor: pointer;
    position: relative;
    background: white;
}

.ds_ftr .arrow {
    transition: transform 0.3s ease;
}

.custom-select.active .arrow {
    transform: rotate(180deg);
}

.ds_ftr .dropdown-options {
    display: none;
    border: 1px solid #06498B26;
    width: 200px;
    position: absolute;
    background: white;
    z-index: 10;
    right: 5%;
    bottom: 100%;
    border-radius: 10px;
}

.ds_ftr .dropdown-options .option {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.dropdown-options .option:hover {
    background-color: #01255508;
}

.custom-select.active+.dropdown-options {
    display: block;
}

.drop_menu .dropdown-menu {
    display: block;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    width: 300px;
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto;
    border-radius: 20px;
    position: absolute;
}

.drop_menu:hover .dropdown-menu {
    opacity: 1;
    transform: scale(1);
}

.dropdown-menu .user_detail {
    display: flex;
    align-items: center;
    background-color: #FD56024D;
    padding: 25px 25px;
    border-radius: 20px 20px 0 0;
}

.dropdown-menu .user_detail .user_img {
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-weight: 500;
}

.dropdown-menu .user_detail .user_name {
    width: 100%;
    padding-left: 15px;
}

.drop_menu .dropdown-menu .dash-icon {
    display: flex;
    align-items: center;
}

.drop_menu .dropdown-menu .dropdown-item {
    border: 0px;
    padding: 16px 25px;
    color: #656f79 !important;
}

.drop_menu .dropdown-menu .dropdown-item i {
    min-width: 23px;
    color: #656f79 !important;
}

.user_dashbord {
    background-color: rgba(6, 73, 139, 0.03);
    overflow-x: hidden !important;
}



/* 30jan */
.part_2 h4 {
    margin: 10px 0px;
}

.dot {
    position: relative;
}

.dropdown-menu_review p {
    font-size: 20px;
    padding: 15px 0px;
    margin: 0px;
    background-color: #feccb3;
}

p.time_re {
    margin-right: 113px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.5px;
    color: #5A5A5A;
}

.inner_1part {
    margin-bottom: 28px;
}

.part2_child-2 .shr_dt.dot {
    margin-left: auto;
}

.dropdown-menu_review {
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    right: 60%;
    top: 70%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.dropdown-menu_review .dropdown-main .dash-icon .dropdown-item {
    font-size: 16px;
    padding: 10px 29px 10px 20px;
}

.dropdown-menu_review .dropdown-main .dash-icon .dropdown-item i {
    margin-right: 8px;
}

.dropdown-menu_review p {
    margin-top: 0px;
}




white
/* TEXT-EDITER */

.wrap {
    width: 100%;
    margin: 35px 0px;
    background: #fafafa;
    border: 1px solid #E0E0E0;
    position: relative;
}

.toolbar {
    width: 100%;
    background-color: #01255508;
    padding: 10px 0px;
}

.toolbar button {
    background: none;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    outline: none;
}



#bold,
#italic,
#underline {
    font-size: 18px;
}

#underline,
#align-right {
    margin-right: 17px;
}

#align-left {
    margin-left: 17px;
}

select {
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    background: #fcfcfc;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin: 0;
    outline: none;
    cursor: pointer;
}

select>option {
    font-size: 15px;
    background: #fafafa;
}

#fonts {
    width: 140px;
}

.sp-replacer {
    background: #fcfcfc;
    padding: 1px 2px 1px 3px;
    border-radius: 3px;
    border-color: #a6a6a6;
    margin-top: -1px;
}

.sp-replacer:hover {
    border-color: #a6a6a6;
    color: inherit;
}

.sp-preview {
    width: 15px;
    height: 15px;
    border: none;
    margin-top: 2px;
    margin-right: 3px;
}

.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
    border-radius: 3px;
}

.editor {
    position: relative;
    width: 100%;
    height: 544px;
    margin: 0 auto;
    padding: 15px;
    background: #fcfcfc;
    word-break: break-all;
    outline: none;
    overflow-y: scroll;
    resize: vertical;
}

.wrap::after {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    border: 1px solid #01255526;
    z-index: 0;
}

.editor h2,
.editor h4,
.editor h5,
.editor p {
    color: #012555;
}


.editar_documento .trpt_bg_btn {
    margin-right: 12px;
}

.dropdown-menu_review {
    display: none;
}

.dropdown-menu_review.show {
    display: block;
}

.dropdown-menu_review p {
    font-weight: 500;

}

.Cont_from .password-field input:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;

}

.Cont_from .password-field input:-webkit-autofill:focus {
    background-color: #fff !important;
}

.fuild_2 {
    margin-top: 20px;
}

/* 10feb2025///////////////////////// */

.left-text ul li.active .side-links .icons-links img {
    filter: invert(1);
    color: #000 !important;
}

.left-text ul li:hover .side-links .icons-links img {
    filter: invert(1);
    color: #000 !important;
}



/* 11-feb-25 */
.crt-lft-top,
.crt-ratings {
    align-items: center;
    gap: 30px
}

.star-div {
    align-items: center;
}

.crt-lft-top p {
    margin: 0;
}

.star-div .stars {
    padding: 0 6px;
}

.stars img {
    height: 20px;
    width: 20px;
}

.g-5 {
    gap: 5px;
}

.crt_ryt.save-rgt {
    gap: 30px;
    margin-top: auto;
    flex-direction: column;
    align-items: end;
}

.crt-lft-btm {
    padding-top: 23px;
    padding-bottom: 40px;
}

.cart_text h3 {
    color: #002347;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.start-price h5 {
    font-size: 22px;
    font-weight: 700;
    color: #002347;
}

.value-p {
    font-size: 16px;
}

.value-p span {
    color: #F9633B;
    font-size: 28px;
    font-weight: 700;
}

.crt-ratings {
    font-size: 16px;
    line-height: 1.5;
}

.cross-icon {
    position: absolute;
    top: 21px;
    right: 24px;
    max-width: fit-content;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background-color: #06498B1A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row.cart_dv.savings_main {
    position: relative;
    padding: 35px 24px 30px 40px;
    font-weight: 400;
}

.star-p-txt p {
    padding-top: 8px;
}

.stars ul {
    gap: 3px;
}

.cart_dv.review_dv {
    flex-direction: column;
    padding: 40px;
    padding-bottom: 20px;
}

.month-ago p {
    font-size: 14px;
    color: #455A64;
}

.cart_dv.review_dv .crt-lft-top {
    gap: 17px;

}

.review-btm {
    padding-top: 40px;
    gap: 100px;
}

.reward-main-inner {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rewrd-inner-hd {
    background-color: #06498b08;
    border: 1px solid #E0E0E0;
    padding: 12px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rewrd-inner-hd h4 {
    font-weight: 500;
    margin: 0;
    font-size: 22px;
}

.rewrd-innr-btm {
    padding: 30px;
    gap: 20px;
}

.points-div {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 5px;
    width: 49%;
    align-items: center;
    gap: 20px;
}

.points-text p {
    margin-bottom: 8px;
    font-size: 20px;
    color: #455A64;
    font-weight: 400;
}

.copy-cod-txt {
    color: #F9633B;
    background-color: #F9633B05;
    border-radius: 190px;
    border: 1px solid #F9633B;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.rewrd-innr-crd {
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 20px;
    position: relative;
}

.copy-svg {
    background-color: #F9633B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 190px;
    padding: 15px 30px;
    cursor: pointer;
}

.copy-cod-txt p {
    width: calc(100% - 80px);
}

.apply-btn .blue-btn {
    display: block;
    text-align: center;
    padding: 13px;
    margin-top: 13px;
}

.three-dots img {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.rewrd-innr-crd h6 {
    margin: 30px 0;
    font-size: 20px;

}

.unq_btn:hover .srrw-svg svg path {
    stroke: #FD5602;
    transition: all 0.3s ease-in-out;
}

.profile-main-hd {
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.profile-main {
    border: 1px solid #06498B26;
    border-radius: 25px;
    padding: 40px;
}

.profile-main .rewrd-inner-hd h4 {
    font-size: 24px;
}

.form-wrp input,
.form-wrp select {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 16px;
    height: 100%;
    font-weight: 400;
    height: 55px;
}

.form-wrp input::placeholder,
.form-wrp select {
    color: #455A64;
}

.form-wrp select {
    appearance: none;
    background: transparent;
}

.rewrd-innr-btm form {
    width: 100%;
}

.rewrd-innr-btm form .row {
    gap: 30px 0;
}

.form-wrp label {
    font-weight: 400;
    margin-bottom: 14px;
}

.sve-btn {
    padding-top: 35px;
}

.profile-main.deactivate-accnt {
    background-color: #fff;
    margin-top: 40px;
    font-weight: 400;
}

.deactivate-accnt h6 {
    font-size: 24px;
    font-weight: 500;
}

.deactivate-accnt a {
    color: #06498B;
    font-weight: 700;
}

.click-deacti:hover {
    color: #FD5602;
}

.profile-main-hd .blue-btn {
    font-weight: 500;
}

.sve-btn .unq_btn {
    padding: 16px 57px;
}

.profile-main.deactivate-accnt p {
    margin: 15px 0;
}

/* 12-feb-25 */
.profile-img {
    position: relative;
}

.upload-img {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.dropdown-main.notify-drop {
    position: relative;
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.5;

    padding-right: 4px;
}

.dropdown-menu.dropdown-menu-right.notify-drop-main {
    width: 100%;
    max-width: 428px;
    /* to show dropdown menu without hover */
    /* opacity: 1;
    transform: none; */
}

.all-unread-tabs .nav-link.active {
    background-color: transparent;
    color: #000;
}

.all-unread-tabs .nav-link {
    color: #455A64;
    padding: 10px 15px;
    padding-left: 0;
}

.all-unread-hd {
    padding: 5px 0;
    border-top: 1px solid #06498B26;
    border-bottom: 1px solid #06498B26;
    justify-content: space-between;
}

.notify-pic img {
    min-width: 50px;
}

.notify-cntnt p {
    margin: 0;
    color: #000;
    font-weight: 500;
}

.notify-cntnt ul li a {
    align-items: center;
    gap: 13px;
}

.time {
    -space: nowrap;
    color: #000;
    font-weight: 500;
}

.notify-cntnt ul li {
    padding: 20px 0;
    border-top: 1px solid #06498B26;
}

.notify-cntnt ul li:last-child {
    padding-bottom: 0;
}

/* custom scroll bar */
.all-unread-tabs {
    position: relative;
    max-height: 420px;
    overflow-y: scroll;
}

.all-unread-tabs::-webkit-scrollbar {
    width: 5.5px;
}

.all-unread-tabs::-webkit-scrollbar-track {
    background-color: #06498B26;
    border-radius: 5px;
}

.all-unread-tabs::-webkit-scrollbar-thumb {
    background-color: #06498B;
    border-radius: 5px;
}

/* custom scroll bar css ends*/
.notify-cntnt ul li:first-child {
    border: 0;
    padding-top: 0;
}

.day {
    padding: 15px 0;
}

.p_lft_rgt {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-main.notify-drop .user_detail_hd {
    padding-bottom: 15px;
}

.mark-as a {
    color: #06498B;
    font-weight: 500;
}

.dropdown-main.notify-drop .user_detail_hd h5 {
    font-size: 14px;
}

.dashboard_lft .nav-links .sublist.show li .sublist_inside.active {
    color: #F9633B;
    font-weight: 700;
}

.dashboard_lft .sublist.show .sublist_li .sublist_inside:hover {
    color: #F9633B;
}



/* sublist css /////////////////////////// */
.dashboard_lft .sublist {
    display: none;
    list-style: none;
    padding-left: 70px;
    opacity: 0;
}

.dashboard_lft .sublist.show {
    display: block;
    opacity: 1;
}

.dashboard_lft .arrow {
    margin-top: 5px;
    font-size: 16px;
}

.dashboard_lft .arrow.rotate {
    transform: rotate(90deg);
}

.left-text .side_flex {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    width: 100%;
}

.left-text ul li a.nav-link .side-links .sidein_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links .arrow i {
    transition: transform 0.3s ease-in-out;
}

.nav-links .arrow i.rotate {
    transform: rotate(90deg);
}

.dashboard_lft .sublist_li .sublist_inside {
    font-family: 'Basis Grotesque Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.dashboard_lft.clone {
    display: none;
}

/* page1 css ///////////////////////////////////////////////////////// */

.mi_detail .overview_list .overlist_box:nth-child(1) {
    background-color: #F9633B;
}

.mi_detail .overview_list .overlist_box:nth-child(2) {
    background-color: #06498B;
}

.mi_detail .overview_list .overlist_box:nth-child(3) {
    background-color: #000000;
}

.mi_detail .overview_list .overlist_box:nth-child(4) {
    background-color: #21AC21;
}

.mi_detail .overview_list .overlist_box {
    width: 24%;
    padding: 25px 30px 25px 25px;
    border-radius: 10px;
}

.mi_detail .overview_list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.mi_detail .overview_list .overlist_box h6 {
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    font-size: 22px;
    line-height: 60px;
    color: #fff;
}

.mi_detail .overview_list .overlist_box .overlist_value .overlist_sp {
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #fff;
}
.mi_detail .overview_list .overlist_box:hover .overlist_value .overlist_sp .overlst_an{
    color: #fff;
}
.mi_detail .overview_list .overlist_box {
    cursor: pointer;
}
.mi_detail .overview_list .overlist_box .overlist_value .overlist_sp .overlst_an {
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 23.24px;
}

.mi_detail .overview_list .overlist_box .overlist_value {
    display: flex;
    justify-content: space-between;
}

.mi_detail .overview_list .overlist_box .overlist_value .overlist_sp .overlst_an img {
    padding-bottom: 4px;
}

.user_content .prf_revbox {
    padding-top: 60px;
}
.prf_revbox .profile_viewbox .prof_lft .lft_prfhd h6 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}
.prf_revbox .profile_viewbox .prof_lft .lft_prfhd  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.24px;
    color: #656F79 ;
    margin-bottom: 0;
}

.prof_rgt .totl_viewbox .hd_box h6 {
    font-family: 'Basis Grotesque Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000;
    margin-bottom: 0;
}

.prof_rgt .totl_viewbox .custom-select {
    position: relative;
    user-select: none;
    width: 100%;
}

.prof_rgt .totl_viewbox .select-box {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    background: #fff;
    border: 2px solid #ccc;
    padding: 5px 8px;
    border-radius: 5px ;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prof_rgt .hd_box {
    width: 100%;
}

.prof_rgt .totl_viewbox .select-box i {
    transition: transform 0.3s ease;
}

.prof_rgt .totl_viewbox .select-box.open i {
    transform: rotate(180deg);
}

.prof_rgt .totl_viewbox .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 2px solid #06498b33;
    border-top: none;
    display: none;
    flex-direction: column;
    z-index: 10;
    border-radius: 0px 0px 5px 5px;
}

.prof_rgt .totl_viewbox .options div {
    line-height: 21px;
    padding: 5px 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.prof_rgt .totl_viewbox .options div:hover {
    background: #06498B;
    color: #fff;
}

.prof_rgt .totl_viewbox .options.show {
    display: flex;
}

.prof_rgt .totl_viewbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.prf_revbox .profile_viewbox {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
}

.prf_revbox .profile_viewbox .prof_lft .left_grap {
    border-right: 1px solid #E3E9ED;
    padding-right: 30px;
}

.prf_revbox .profile_view {
    padding-top: 15px;
}

.prf_revbox .profile_view .prof_hd h6 {
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}
.prf_revbox .profile_view .prof_hd .prof_vlu {
    font-family: 'Basis Grotesque Pro';
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}

.prf_revbox .profile_view .prof_hd .vlue_compare {
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #656F79;
}

.prf_revbox .profile_view .prof_hd {
    padding-bottom: 15px;
}

.prf_revbox .profile_view .prof_hd:nth-child(1) {
    border-bottom: 1px solid #E3E9ED;
}

.prf_revbox .profile_view .prof_hd:nth-child(2) {
    padding-top: 18px;
    border-bottom: 1px solid #E3E9ED;
}
.prf_revbox .profile_view .prof_hd:nth-child(3) {
    padding-top: 18px;
}

.review_scroll .rew_content .rew_str {
    display: flex;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.66px;
}
.review_scroll  .rating-container .star.filled {
    color: #FF9D28 ;
}
.review_scroll .rew_content .rew_str ul{
    padding-left: 0;
    margin-bottom: 0;
}
.review_scroll .rew_content .rew_str ul li {
    list-style-type: none;
}
.review_scroll  .rew_img img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}
.review_scroll .review_box {
    width: 100%;
}
.review_scroll .review_box .rewbox_hd {
    display: flex;
    gap: 10px;
    width: 100%;
}
.review_scroll .review_box .rew_para {
    padding: 10px 0;
}
.user_content .prf_revbox .recent_reviw {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.review_scroll {
    padding-top: 8px;
}
.review_scroll .rating-container .star {
    font-size: 10px;
}
.review_scroll .review_box .rewbox_hd .rew_content h6 {
    font-size: 20px;
    color: #002347;
    font-weight: 700;
    margin-bottom: 0;
}
.review_scroll .review_box .rew_para .imp_para {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 0;
}
.review_scroll {
    height: 100%;
    max-height: 318px; 
    overflow-y: auto;
    padding-right: 5px;
    scrollbar-width: thin; 
    scrollbar-color: #F9633B #E3E9ED; 
    border-radius: 10px;
}

.review_scroll::-webkit-scrollbar {
    width: 6px;
}

/* .review_scroll::-webkit-scrollbar-track {
    background: #E3E9ED;
} */


/*NT 18/02/25 listing page css */
.heading-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listing-table table {
    width: 100%;
    border-collapse: separate;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-name img {
    height: 110px;
    min-width: 110px;
    border-radius: 50%;
}

.rating {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.star-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.listing-table .menu-icon i {
    color: #000;
    height: 24px;
}

.rating p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.star-box span {
    font-size: 16px;
}


.listing-table h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    color: #002347;
}

.listing-table .edit-icon a {
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}

.listing-table td {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.listing-table tr {
    border: 1px solid #06498B26;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    padding: 30px;
}

.listing-table tr:hover {
    background-color: #fff;
    box-shadow: 0px 34px 74px 0px #0023470F;
}

.listing-table .price {
    font-family: Basis Grotesque Pro;
    font-weight: 700;
    font-size: 28px;
    line-height: 36.15px;
    color: #F9633B;
}

.star i {
    color: #FF9D28;
}

.listing-table .blue-btn {
    padding: 12px 33px;
}

.heading-bar .blue-btn {
    padding: 12px 30px;
}

/* new-listing page */
.new-listing h1 {
    margin-bottom: 20px;
}

.new-listing .new-form {
    border: 1px solid #06498B26;
    background-color: #fff;
    border-radius: 15px;
    padding: 24px 30px;
}

.new-listing .form-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

.new-listing .form-block input {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.new-listing .form-block label {
    font-weight: 400;
}

.new-listing .form-block input::placeholder {
    color: #455A64;
}

.new-btn .unq_btn {
    background-color: #F9633B;
    border: 1px solid #F9633B;
}

.new-btn .unq_btn:hover {
    color: #F9633B;
    background-color: #fff;
}

.new-btn {
    margin-top: 52px;
}

.new-listing .form-block:last-child {
    margin: 0;
}

.new-listing .unq_btn {
    padding: 13px 38px;
}

/* NT edit listing page  */
.edit-listing .edit-boxs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit-listing .edit-box {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #06498B26;
    position: relative;
}

.edit-icon {
    text-align: right;
    margin-bottom: 5px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.edit-icon a {
    background-color: #06498B26;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #06498B;
    border-radius: 50%;
    font-size: 12px;
}

.edit-icon a:hover {
    color: #fff;
    background-color: #06498B;

}

.user-name1 img {
    height: 50px;
    min-width: 50px;
}

.user-name1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #F9633B1F;
    border-radius: 50%;
}

.editable-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editable-content .rgt-edit-data {
    display: flex;
    align-items: center;
    gap: 15px;
}

.editable-content .rgt-edit-data .share a {
    background-color: #06498B24;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
}

.editable-content .user-name {
    align-items: center;
    gap: 10px;
}

.editable-content .user-name i {
    color: #06498B;
}

.editable-content .unq_btn:hover img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(56%) saturate(777%) hue-rotate(327deg) brightness(115%) contrast(96%);
}

.features {
    display: flex;
    gap: 30px;
}

.feature-box {
    border: 1px solid #06498B26;
    border-radius: 15px;
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    position: relative;
    background-color: #fff;
}

.feature-box .top-img {
    position: absolute;
    top: -10px;
}

.feature-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-box ul li {
    margin-top: 24px;
    position: relative;
    padding-left: 30px;
    font-weight: 400;
}

.feature-box ul li::after {
    position: absolute;
    content: "";
    left: 0;
    top: 5px;
    background-image: url(../img/listcheck.png);
    height: 15px;
    width: 15px;
}

.feature-box .price-box {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.feature-box .price-box span {
    font-size: 42px;
    line-height: 1.2;
    color: #06498B;
    font-weight: 700;
}

.feature-box .check-img {
    height: 63px;
    width: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21AC21;
    border-radius: 50%;
    margin-bottom: 10px;
}

.feature-box h6 {
    color: #06498B;
}

.feature-box .blue-btn {
    padding: 9px 30px;
    font-size: 14px;
    margin-top: 15px;
}

.blue-border {
    border: 1px solid #06498B
}

.editable-content-3 .feature-box {
    justify-content: stretch;
    align-items: baseline;
    border: 1px solid #06498B17;
    min-width: auto;
}

.editable-content-3 .features {
    justify-content: space-between;
}

.feature-box h4 {
    font-weight: 700;
    font-size: 24px;
}

.editable-content-3 .feature-box h4 {
    color: #002347;
    margin-top: 24px;
}

.mt-15 {
    margin-top: 15px;
}

.editable-content-4 .feature-box {
    min-width: auto;
    background-color: transparent;
    padding: 0;
}

.editable-content-4 .feature-box * {
    color: #fff;
}

.editable-content-4 .features {
    align-items: baseline;
    justify-content: space-between;
}

.editable-content-4 .flag-box {
    display: flex;
    align-items: center;
    gap: 7px;
}

.blue-edit-box .edit-icon a {
    background-color: #FFFFFF33;
    color: #fff;
}

.blue-edit-box {
    background-color: #06498B;
    border: 0px;
}

.editable-content-5 .feature-box {
    flex: 0 0 48%;
    background-color: #06498B08;

}

.editable-content-5 .feature-box li {
    color: #828282;
}

.edit-box.white-box {
    background-color: #fff;
}

.feature-box ul.cons li::after {
    background-image: url(../img/conslist.png);
    height: 17px;
    width: 17px;
}

.blue-edit-box .user-name1 {
    background-color: #FEECE7;
}

.blue-edit-box *,
.orng-edit-box * {
    color: #fff;
}

.edit-listing .edit-box.mb_40 p {
    margin-bottom: 40px;
}

.orng-edit-box {
    background-color: #F9633B;
}

.orng-edit-box .user-name1 {
    background-color: #FFFFFF;
}

.edit-listing .edit-box.mb_40 p:last-child {
    margin-bottom: 0;
}

.edit-heading h2 {
    font-size: 50px;
}

.case-slider .slick-slide {
    margin-left: 30px;
}

.case-slider .case-slides {
    border: 1px solid #06498B1A;
    border-radius: 15px;
    overflow: hidden;
}

.case-slider .case-slides p {
    padding: 15px 17px;
    font-weight: 700;
    color: #002347;
}

.case-slider .case-slides:hover {
    background-color: #fff;
    box-shadow: 74px 0px 36px 0px #06498B0F;
    border: 1px solid #06498B05
}

.case-slider .slide-arrow {
    position: absolute;
    top: 50%;
    background-color: #F9633B;
    color: #fff;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    z-index: 1;
    transform: translate(-50%, -50%);
    left: 10px;
    border: 1px solid #F9633B;
}

.case-slider .slide-arrow.next-arrow {
    right: -40px;
    left: auto;
}

.case-slider .slick-list.draggable {
    margin-left: -30px;
}

.case-slider  .slide-arrow.slick-disabled {
    color: #000;
    background-color: #fff;
    border: 1px solid #06498B1A
}

.case-slider  .slide-arrow.slick-disabled img {
    filter: invert(1);
}

.about p{
font-weight: 400;
font-size: 17px;
color: #000000;
}

.about  .moretext {
    display: none;
  }

  .about   a.moreless-button {
    font-weight: 500;
    font-size: 14px;
    color: #06498B;
}

.about {
    border-bottom: 1px solid #06498B1F;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

.integrations ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 705px;
}
.integrations ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 400;
    color: #000;
    line-height: 23.24px;
}

.listing-table td.edit-icon {
    position: static;

}

.listing-table td.edit-icon a {
    background-color: #06498B;
    color: #fff;
}
