@media only screen and (min-width: 1500px) {
  .header_row {
    padding: 30px 0px 12px;
  }

  .banner_text_col .search-box input {
    padding: 30px 35px;
  }

  .search-box i {
    padding: 25px 45px;
  }
}

@media only screen and (min-width: 1025px) {
  .dropdown:hover .dropdown_menu--animated {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1470px;
  }
}

@media only screen and (max-width: 1599px) {
  h1 {
    font-size: 75px;
  }

  h3 {
    font-size: 45px;
  }

  .p_120 {
    padding: 100px 0px;
  }

  .h6_26 {
    font-size: 24px;
  }

  .slick-prev {
    z-index: 1;
  }

  .slick-next {
    right: -20px;
    z-index: 1;
  }

  .banner_image {
    right: 0;
  }

  .banner_sec {
    padding-bottom: 60px;
  }

  .read_sec_outer .read_text {
    font-size: 24px;
    line-height: 1.2;
  }

  .right_tool_sec .right-tool-pack {
    padding-bottom: 30px;
  }

  .accor-bdy-btm .top-rate-innr .rate_box {
    font-size: 14px;
  }

  .accor-bdy-btm .tp-btm {
    gap: 10px;
  }

  /* shivani  */
  .cta.clm_btn {
    padding: 11px 10px;
  }

  .trl_info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px 30px;
  }

  .trl_info .fre_trail.feture_box {
    flex: 0 0 20%;
  }

  .main_feture .feture_box {
    padding: 25px 25px;
  }

  .csd_sec .slick-next {
    right: -70px;
    z-index: 1;
  }

  .csd_sec .slick-prev {
    left: -70px;
    z-index: 1;
  }

  .sfwr_sec .sfwr_box {
    padding: 34px;
  }

  /* rupali */
  body {
    font-size: 15px;
  }

  .search-box i {
    padding: 15px 33px;
  }

  .search-box input {
    padding: 22px 27px;
  }

  .brnd-wrp-lft {
    width: 350px;
  }

  .brnd-p-txt::after {
    right: -28%;
  }

  .xclusve-txt h6 {
    font-size: 22px;
  }

  .slick-prev {
    z-index: 1;
  }

  .slick-prev,
  .slick-next {
    height: 50px;
    width: 50px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
  }

  .slick-next {
    right: -50px;
  }

  .header_row.head_srch .search-box,
  .header_row.head_srch_new .search-box {
    max-width: 50%;
  }

  .header_row.head_srch .search-box i,
  .header_row.head_srch_new .search-box i {
    padding: 9px 23px;
    font-size: 20px;
  }

  .header_row.head_srch .search-box input,
  .header_row.head_srch_new .search-box input {
    padding: 16px 27px;
    font-size: 12px;
  }

  .hlp-you-box {
    padding: 30px 20px;
  }

  .faq-accor .accordion-button {
    padding: 20px;
  }

  .faq-accor .accordion-body {
    padding: 20px;
    padding-top: 0px;
  }

  .faq-accor .accordion-button::after,
  .faq-accor .accordion-button:not(.collapsed)::after {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }

  .choice-key-features {
    width: 71%;
  }

  .choice-key-features ul li {
    font-size: 14px;
  }

  .key-feature-price {
    gap: 50px;
  }

  .top-automotive-sec.p_120 {
    padding-bottom: 150px;
  }

  .choice-key-features ul li {
    align-items: start !important;
  }

  .xclusve-wrp .slick-prev {
    left: -60px;
  }

  .xclusve-wrp .slick-next {
    right: -60px;
  }

  .banner_sec.top-auto-bnr {
    border-radius: 0px 0px 70px 70px;
  }

  .hd-innr-txt {
    max-width: 1288px;
  }

  .auto-choice-btn .cta_orange {
    padding: 10px 30px;
  }

  .automotive-pagination .page-link {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  .subs_sec .email_box input {
    padding: 16px 30px;
  }

  .accor-btn .cta {
    padding: 15px 28px;
  }

  .top-rated-slider .slick-prev {
    left: -40px;
  }

  .top-rated-slider .slick-next {
    right: -40px;
  }

  .latest-reviews-slider .slick-prev {
    left: -38px;
  }

  .latest-reviews-slider .slick-next {
    right: -38px;
  }

  .latest-reviews-slider .slick-prev,
  .latest-reviews-slider .slick-next {
    height: 45px;
    width: 45px;
  }

  .xclusve-wrp .slick-prev,
  .xclusve-wrp .slick-next {
    height: 40px;
    width: 40px;
  }

  .xclusve-wrp .slick-prev:before,
  .xclusve-wrp .slick-next:before {
    font-size: 18px;
  }

  .range-wrapper .values {
    font-size: 22px;
  }

  .popular-accordion-wrp .accordion-button {
    padding: 20px;
  }

  .popular-accordion-wrp .accordion-body {
    padding: 20px;
  }

  .top-pro-btn.tp_visit .cta {
    padding: 15px 30px;
  }

  .asn_dv .ans_ryt .site_vsit .shr_icn {
    height: 60px;
    width: 60px;
    font-size: 25px;
  }

  .main_feture .feture_box {
    padding: 20px 20px;
  }

  .src_box h3 {
    font-size: 38px;
  }

  .main_feture .feture_box .accor-btn .cta {
    padding: 10px 25px;
  }

  .main_feture .feture_box .progress-bar {
    width: 105px;
  }

  .integrtion-lst {
    gap: 15px;
  }

  .asana-integration {
    padding: 22px 0;
  }

  .h_80 {
    height: 75px;
  }

  .altr-mid-div {
    padding: 50px 28px;
    padding-bottom: 30px;
  }

  .p_lft {
    padding-left: 50px;
  }

  .poplr-visit-btn {
    height: 90px;
  }

  .p_140 {
    padding: 120px 0px;
  }

  .tp_box {
    padding: 25px;
  }

  .blu_drk_box {
    padding: 40px 60px;
  }

  .cpa_rw2 .tp_box {
    padding: 30px 48px;
  }

  .row.cpa_rw2.size22 {
    font-size: 20px;
  }

  .tp_box ul li {
    align-items: flex-start !important;
  }

  .btm-bttn {
    margin-top: 70px;
  }

  .asan-text-para p {
    font-size: 16px;
  }

  .big_text {
    font-size: 18px;
  }

  .sftware-alternative-pck {
    padding: 30px 20px;
  }

  .p_top_btm_sftwre {
    padding: 20px 0;
  }

  .rating {
    flex-wrap: wrap;
    gap: 5px 5px;
  }

  .sftware-alternative-pck {
    width: 100%;
  }

  .over-rate-progress .progress-bar {
    width: 80px;
  }

  .over-rate-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sftwre-alt-btn .cta {
    gap: 10px;
    padding: 10px 0;
  }

  .sales-crm-pack {
    padding: 28px;
  }

  .sales-crm-pack .choice_img img {
    height: 98px;
    max-width: 97px;
  }

  .sales-crm-pack .feture_box h6 {
    margin-bottom: 20px;
  }

  .sales-crm-pack .blue-text {
    padding-bottom: 0;
  }

  .review_sec .review_detl {
    padding: 30px;
  }

  .crm_sec.p_120 {
    padding-bottom: 120px;
  }

  .sales-crm-pack .progress-bar {
    width: 120px;
  }

  .sales-crm-pack ul li {
    gap: 15px;
  }

  .crm_sec .crm_review_box .nav.nav-tabs .nav-link {
    padding: 14px 40px;
  }

  .review_sec .review_detl .reviw_hd {
    margin-bottom: 28px;
  }

  .prc_dv .prc_bx .prc_contnt .auto-choice-btn .cta.cta_orange {
    display: inline-block;
    padding: 16px 70px;
  }

  .prc_dv {
    padding: 60px;
  }

  .prc_dv .slider_img {
    max-width: 75px;
    width: 100%;
  }

  .cpa_rw2 li span img {
    min-width: 15px;
    height: 15px;
  }

  .compari_crm_pck .inn_ul,
  .compari_crm_pck .rate_box {
    font-size: 17px;
  }

  .sales-crm-pack .choice_img img {
    height: 80px;
    max-width: 80px;
  }

  .sales-crm-pack .inn_sl_hed {
    gap: 20px;
  }

  .sales-crm-pack.compari_crm_pck {
    padding: 30px 20px;
  }

  .sales-crm-pack .inn_h h6 {
    font-size: 24px;
  }

  .crm_sec .crm_review_box.compari_review .nav.nav-tabs .nav-link {
    padding: 15px 31px;
  }

  .product_comp_sec .crm_sec .crm_review_box nav .selct_box {
    flex: 0 0 25%;
  }

  .product_comp_sec .crm_sec .crm_review_box nav .nav.nav-tabs {
    margin-bottom: 0;
    flex: 0 0 75%;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    padding: 8px;
  }

  .asan-slider-btm .slick-slide img {
    padding-right: 10px;
  }

  .auto-choice-lft .search-box input {
    padding: 15px 19px;
    font-size: 15px;
  }

  .auto-choice-lft .search-box i {
    padding: 11px 22px;
  }

  footer .footer-wrp .foot-col {
    margin-left: 30px;
  }

  .outer_slider .inn_ul li:first-child,
  .outer_slider .rate_box {
    font-size: 14px;
  }

  .main_feature_sm {
    max-width: 230px;
  }

  .main_feature_lg {
    max-width: 380px;
  }

  .adip_sec .adip_box {
    max-width: 400px;
  }

  .accor-btn.mange-btn .cta {
    padding: 18px 48px;
  }

  .poplr-txt .inn_ul li,
  .poplr-txt .rate_box {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1499px) {
  .chatwth_sec .cht_left .cht_info:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .adip_sec .sld_btm {
    margin-top: 45px;
  }

  .adip_sec .slide-count {
    padding: 16px 60px;
  }

  .adip_sec button.slick-arrow {
    top: calc(100% + 75px);
  }

  .our_busn .our_busn_box .or_busn_bg {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }

  .top-pro-btn .cta {
    padding: 16px 40px;
    font-size: 14px;
  }

  .pvc_sec .pvc_textbx {
    margin-bottom: 30px;
  }

  .inn_sl_hed.mst_hdn .top-pro-box .cta {
    padding: 12px 30px;
  }
  .revw-width a {
    min-width: 200px;
  }
  .right-tool-btn .cta {
    padding: 15px 48px;
  }
}

@media only screen and (max-width: 1399px) {
  h1 {
    font-size: 65px;
  }

  .sfwr_name h6 {
    font-size: 22px;
  }

  .p_120 {
    padding: 90px 0px;
  }

  .ms_dv .mst_wrp .objec_box {
    padding: 30px;
  }

  .succes_sec .succes_infp {
    margin-top: 30px;
  }

  .succes_sec .succes_rw > div {
    margin-bottom: 50px;
  }

  .ms_dv .mst_wrp {
    padding: 30px;
  }

  .ms_dv .accor-txt-contnt {
    padding-left: 20px;
  }

  .succes_sec .hd_text {
    margin-bottom: 30px;
  }

  /* shivani */
  h2 {
    font-size: 45px;
  }

  .sfwr_sec .sfwr_box {
    padding: 30px;
  }

  .sfwr_sec .sfwr_img {
    height: 75px;
    max-width: 75px;
  }

  .sfwr_sec .sfwr_hd {
    margin-bottom: 12px;
  }

  .sfwr_text ul li {
    line-height: 30px;
  }

  .sfwr_sec .sfwr_content h2 {
    margin-bottom: 20px;
  }

  .contact_sec .contact_content {
    padding: 30px 35px;
  }

  .contact_sec form .form-control {
    padding: 18px;
  }

  .snd_bttn {
    margin-top: 40px;
  }

  /* new cs */
  .size18 {
    font-size: 16px;
  }

  .succes_sec .succes_infp .succs_grp {
    margin-top: 25px;
  }

  header.drk_header {
    padding: 15px 0px;
  }

  .login_form .contact_content {
    max-width: 900px;
    padding: 50px 60px;
    padding-bottom: 20px;
  }

  .scl_login .login_link {
    padding: 15px;
  }

  .hd-innr-txt {
    max-width: 1111px;
  }

  .cta {
    padding: 15px 35px;
    font-size: 14px;
  }

  .xclusve-wrp .slick-prev,
  .xclusve-wrp .slick-next {
    height: 40px;
    width: 40px;
  }

  .top-rated-slider .slick-prev {
    left: -40px;
  }

  .top-rated-slider .slick-next {
    right: -40px;
  }

  .xclusve-wrp .slick-prev {
    left: -40px;
  }

  .xclusve-wrp .slick-next {
    right: -40px;
  }

  .latest-reviews-slider .slick-prev,
  .latest-reviews-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  .latest-reviews-slider .slick-prev:before,
  .latest-reviews-slider .slick-next:before {
    font-size: 17px;
  }

  .latest-reviews-slider .slick-prev {
    left: -29px;
  }

  .latest-reviews-slider .slick-next {
    right: -29px;
  }

  .banner_sec.lg_Bnr {
    padding-top: 230px;
  }

  /* shivani */
  .wmail_sec .metl-stp {
    padding: 25px 30px;
    margin-bottom: 30px;
  }

  .mlt_sp {
    margin-bottom: 20px !important;
  }

  .wmail_sec .rnd_text .round_img {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 35px;
  }

  .wmail_sec h4 {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  .shre_scl_icn {
    gap: 20px;
  }

  .shre_scl_icn .scl_lnks ul {
    gap: 10px;
  }

  .shre_scl_icn .scl_lnks ul li a {
    width: 35px;
    height: 35px;
  }

  .mail_ovr .metl_rw .ryt_bttn a {
    padding: 10px 18px;
  }

  .mail_ovr .metl_rw .ryt_bttn a img {
    margin-right: 15px;
  }

  /* .inn_sl_hed.mst_hdn {
    flex-direction: column;
    gap: 15px;
  } */
  /*   
  .inn_sl_hed.mst_hdn .sl_h {
    flex: 0 0 100%;
  } */
  .inn_sl_hed.mst_hdn .slider_img {
    min-width: 60px;
    width: 100%;
  }

  footer .footer-wrp .foot-col {
    margin-left: 0px;
  }

  .main_feature_sm {
    max-width: 180px;
  }

  .main_feature_lg {
    max-width: 350px;
  }
}

@media only screen and (max-width: 1199px) {
  .p_120 {
    padding: 80px 0px;
  }

  .reviews_block .slick-prev {
    left: -10px;
  }

  .reviews_block .slick-next {
    right: -10px;
  }

  .most-popular-wrp h3 {
    margin-bottom: 20px;
  }

  .ms_dv .mst_wrp {
    padding: 25px;
  }

  .ms_dv .mst_wrp .objec_box {
    padding: 20px;
  }

  .succes_sec .hd_text {
    margin-bottom: 20px;
  }

  /* shivani */
  h2 {
    font-size: 40px;
  }

  .sfwr_sec .sfwr_box {
    padding: 20px;
  }

  .sfwr_sec .sfwr_img {
    height: 70px;
    max-width: 70px;
  }

  .snd_bttn {
    margin-top: 30px;
  }

  /* rupali */

  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 38px;
  }

  .p_120 {
    padding: 80px 0px;
  }

  .banner_content_inner p {
    font-size: 20px;
    padding-right: 12%;
  }

  .search-box input {
    padding: 20px;
    font-size: 15px;
  }

  .search-box i {
    padding: 14px 30px;
  }

  .brnd-p-txt {
    font-size: 20px;
  }

  .brnd-wrp-lft {
    width: 250px;
  }

  .brnd-p-txt::after {
    right: -15%;
  }

  .trst-brnd-wrp {
    padding: 45px;
  }

  .trust-brnd-marque .slick-slide {
    margin: 0 15px;
  }

  .top-rate-innr {
    padding: 18px;
  }

  .accor-bdy-btm .tp-btm,
  .top-rated-section .tp-btm {
    flex-direction: column;
    align-items: self-start;
    gap: 2px;
  }

  .best-value {
    transform: translateY(-22%);
  }

  .popular-accordion-wrp .accordion-button {
    font-size: 24px;
  }

  .p_80 {
    padding: 70px 0;
  }

  .foot-logo img {
    width: 120px;
  }

  .foot-row-lft {
    gap: 33px;
  }

  .foot-col h6 {
    font-size: 22px;
  }

  .foot-btm {
    padding: 35px 0;
  }

  .banner_sec {
    padding-top: 180px;
  }

  .banner_image {
    right: 0px;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col h1 {
    font-size: 50px;
  }

  .header_row.head_srch .search-box,
  .header_row.head_srch_new .search-box {
    max-width: 40%;
  }

  .header_row.head_srch .search-box input,
  .header_row.head_srch_new input {
    padding: 16px 18px;
    font-size: 9px !important;
  }

  header .container-fluid {
    padding: 0px 30px;
  }

  .hlp-you-box {
    padding: 25px;
  }

  .faq-accor .accordion-button,
  .faq-accor .accordion-button:not(.collapsed) {
    font-size: 20px;
  }

  .faq-accor .accordion-body {
    font-size: 16px;
  }

  .hd-innr-txt {
    max-width: 934px;
  }

  .banner_sec.top-auto-bnr {
    border-radius: 0px 0px 50px 50px;
  }

  .auto-btm-hd .search-box input {
    padding: 16px 20px;
  }

  .auto-btm-hd .search-box i {
    padding: 11px 24px;
  }

  .key-feature-price {
    gap: 25px;
  }

  .automotive-card {
    padding: 35px 30px;
  }

  .starting-price span {
    font-size: 25px;
  }

  .range-txt {
    padding: 3px 10px;
  }

  .range-wrapper .values {
    font-size: 20px;
  }

  .range-container {
    height: 80px;
  }

  .range-wrapper input[type="range"] {
    font-size: 14px;
  }

  .subs_contenth2 {
    font-size: 38px;
  }

  .top-rated-slider .slick-prev,
  .top-rated-slider .slick-next {
    height: 40px;
    width: 40px;
  }

  .top-rated-slider .slick-prev {
    left: -24px;
  }

  .top-rated-slider .slick-next {
    right: -24px;
  }

  .xclusve-wrp .slick-prev {
    left: -25px;
  }

  .xclusve-wrp .slick-next {
    right: -25px;
  }

  p.alrd_pra_text {
    font-size: 16px !important;
  }

  .arw_lnk {
    font-size: 16px;
  }

  .myswtr_sec .msft_text .msft_list ul li {
    margin-bottom: 6px;
  }

  .chatwth_sec .cht_left .cht_info:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .adip_sec button.slick-arrow {
    top: 115%;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 16px;
  }

  .our_busn .our_busn_box .or_busn_bg {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .pvc_sec .pvc_textbx {
    margin-bottom: 20px;
  }

  .main_feture .feture_box {
    padding: 16px;
  }

  .lft_check_box ul li:not(:last-child) {
    margin-bottom: 18px;
  }

  .main_feture .lft_check_box ul li {
    gap: 10px;
  }

  .lft_check_box.size18 {
    font-size: 14px;
  }

  .src_box h3 {
    font-size: 23px;
  }

  .fre_trail h6 {
    font-size: 22px;
  }

  .main_feture .feture_box .accor-btn .cta {
    padding: 8px 15px;
  }

  .feture_box .size22 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .integrtion-lst {
    flex-wrap: wrap;
    gap: 15px 0;
  }

  .integrtion-lst li {
    width: 50%;
  }

  .poplr-txt .tp-btm {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .altr-lft-div {
    width: 25%;
  }

  .poplr-progress .progress-bar {
    width: 200px;
  }

  .poplr-visit-btn .cta {
    font-size: 18px;
    padding: 10px 0;
  }

  .tp_box {
    padding: 20px;
  }

  .cpa_rw .tp_box h6 {
    font-size: 22px;
  }

  .blu_drk_box {
    padding: 40px;
  }

  .cpa_sec .blu_drk_box .blu_text h6 {
    font-size: 22px;
  }

  .cpa_rw2 .tp_box {
    padding: 30px;
  }

  .cpa_rw2 .tp_box ul li span {
    min-width: 20px;
  }

  .cpa_rw2 .tp_box h6 {
    margin: 15px 0;
  }

  .cpa_rw2 .tp_box h6 {
    margin-top: 15px;
    margin: 15px 0;
  }

  .review_sec .review_detl .reviw_hd {
    margin-bottom: 20px;
  }

  .asan-text-para {
    padding-bottom: 20px;
  }

  .asn_dv.asv_orng {
    padding: 30px;
  }

  .about_asn_content .asn_dv.asv_blue .asn-img img,
  .asn_dv_contnt .asn-img img {
    height: 80px;
    width: 80px;
  }

  .accor-btn .cta {
    padding: 12px 28px;
  }

  .trial-avil .asn-rating p {
    font-size: 26px;
  }

  .csd_sec .xclusve-pack.csd_box p {
    margin-bottom: 0;
    padding: 18px;
    color: #002347;
  }

  .ovr-progrs-div {
    flex-direction: column;
    gap: 0;
  }

  .ans_lft {
    gap: 0px 10px;
  }

  .sales-crm-pack .choice_img img {
    height: 80px;
    max-width: 80px;
  }

  .sales-crm-pack .inn_sl_hed {
    gap: 10px;
  }

  .sales-crm-pack .inn_ul,
  .sales-crm-pack .rate_box {
    font-size: 18px;
  }

  .sales-crm-pack {
    padding: 20px;
  }

  .sales-crm-pack .progress-bar {
    width: 100px;
  }

  .sales-crm-pack ul li {
    flex-direction: column;
    gap: 0;
  }

  .crm_sec .crm_review_box .nav.nav-tabs .nav-link {
    padding: 14px 30px;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    padding: 8px;
  }

  .crm_review_box nav {
    margin-bottom: 40px;
  }

  .crm_review_box nav select {
    width: 100px;
  }

  .review_sec .review_detl {
    padding: 24px;
  }

  .sub_img img {
    max-width: 150px;
  }

  .crm_sec.p_120 {
    padding-bottom: 100px;
  }

  .pdc_box {
    padding: 40px 30px;
  }

  .cpa_bg {
    /* gap: 15px; */
  }

  .localio-brkdwn .main_feture .feture_box .progress-bar {
    width: 110px;
  }

  .xrro_dv {
    padding: 25px;
  }

  .prc_dv .prc_bx .prc_contnt .inn_h {
    margin-bottom: 0px;
  }

  .prc_dv .prc_bx .prc_contnt .auto-choice-btn {
    margin-top: 35px;
  }

  .cpa_rw2 .tp_box ul li span.lyt-text {
    font-size: 18px;
  }

  .sales-crm-pack.compari_crm_pck .choice_img img {
    height: 70px;
    max-width: 70px;
  }

  .sales-crm-pack.compari_crm_pck {
    padding: 20px;
  }

  .sales-crm-pack.compari_crm_pck .tp-btm {
    flex-direction: column;
    align-items: self-start;
    gap: 0;
  }

  .crm_sec .crm_review_box.compari_review .nav.nav-tabs .nav-link {
    padding: 15px 48px;
  }

  .crm_sec .crm_review_box.compari_review .nav.nav-tabs {
    gap: 0;
  }

  .product_comp_sec .crm_sec .crm_review_box.compari_review nav {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .product_comp_sec .crm_review_box.compari_review nav .nav.nav-tabs {
    margin-bottom: 0;
    flex: unset;
    width: 100%;
  }

  .compari_pck_innr {
    padding: 20px;
  }

  .compari_btm {
    padding-top: 25px;
  }

  .compari_tabi {
    padding-top: 40px;
  }

  .inn_sl_hed.mst_hdn .top-pro-box .cta {
    padding: 12px 20px;
  }

  .most-populr-sec .accor-txt-contnt {
    padding-left: 20px;
  }

  .inn_sl_hed.mst_hdn .tp-btm {
    gap: 5px;
  }

  .inn_sl_hed.mst_hdn {
    align-items: self-start;
  }

  .auto-choice-row {
    gap: 20px;
  }

  .auto-choice-lft {
    padding-right: 20px;
  }

  .auto-choice-lft .search-box input {
    padding: 15px 16px;
    font-size: 11px;
  }

  .auto-choice-lft .search-box i {
    padding: 9px 18px;
    font-size: 15px;
  }

  .select-box select {
    padding: 10px;
  }

  .accor-btn.mange-btn .cta {
    padding: 15px 40px;
  }

  .top-pro-btn.alrd_btn .cta {
    padding: 15px 35px;
  }

  .main_feature_sm {
    max-width: 150px;
  }

  .main_feature_lg {
    max-width: 300px;
  }

  .main_feture .feture_box li {
    gap: 0;
  }

  .main_feature_lg ul li {
    font-size: 14px;
  }

  .altr-lft-div ul li {
    padding-left: 10px;
  }

  .sftware-alternative-pck {
    display: flex;
    flex-direction: column;
  }

  .sftware-alternative-pck .sftwre-alt-btn {
    margin-top: auto;
  }

  .auto-choice-row .auto-choice-rgt {
    flex: 0 0 74%;
  }
}

@media only screen and (max-width: 991px) {
  /* header dropdown on mobile css */
  .mob-drp-btn {
    cursor: pointer;
  }

  .mobile-drop {
    position: relative;
    display: inline-block;
  }

  .mob-drp-contnt {
    display: none;
    position: absolute;
    overflow: auto;
  }

  .mob-drp-contnt li {
    display: block;
  }

  .show {
    display: block;
  }

  li.menu-item.dropdown.dropdown-6.mobile-drop {
    flex-wrap: wrap;
    border: 0;
    border-radius: 0;
    padding: 5px 15px;
    width: 100%;
  }

  header .menu .dropdown_menu {
    background-color: #fff;
    z-index: 1;
    color: #000;
    position: static;
    width: 100%;
  }

  .left_menu {
    padding: 0;
  }

  .right_menu {
    padding-left: 15px;
  }

  header .dropdown_menu li a {
    color: #000;
  }

  /* shivani */
  .sfwr_sec .sfwr_img {
    height: 60px;
    max-width: 60px;
  }

  .sfwr_sec .sfwr_hd {
    gap: 12px;
  }

  .sfwr_text ul li {
    line-height: 1.5;
  }

  .contact_sec form .form-control {
    padding: 15px;
  }

  .contact_sec .contact_content {
    padding: 20px 20px;
  }

  .snd_bttn {
    margin-top: 20px;
  }

  /* rupali */
  h1 {
    font-size: 42px;
  }

  body {
    font-size: 14px;
  }

  .cta {
    font-size: 14px;
    padding: 15px 35px;
  }

  h2 {
    font-size: 34px;
  }

  .banner_content_inner p {
    font-size: 18px;
    padding-right: 12%;
  }

  .search-box input {
    padding: 15px;
    font-size: 12px;
    padding-right: 80px;
  }

  .search-box i {
    padding: 13px 26px;
  }

  .search-box i {
    font-size: 18px;
  }

  .brnd-p-txt {
    font-size: 18px;
  }

  .brnd-wrp-lft {
    width: 200px;
  }

  .brnd-p-txt::after {
    right: -21%;
    height: 75px;
  }

  .trst-brnd-wrp {
    padding: 35px 0;
  }

  .popular-accordion-wrp .accordion-button {
    font-size: 22px;
  }

  .accor-txt-contnt h6 {
    font-size: 22px;
  }

  .accor-bdy-hd .row {
    align-items: start !important;
  }

  .accor-btn {
    padding-top: 10px;
  }

  .popular-accordion-wrp .accor-btn .cta {
    padding: 11px 28px;
  }

  .accor-bdy-row {
    gap: 30px;
  }

  .accor-bdy-btm .tp-btm {
    flex-direction: row;
    gap: 15px;
  }

  .slider_content_sec {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .joh_box {
    padding-top: 20px;
  }

  .popular-accordion-wrp .accordion-item {
    margin-bottom: 20px;
  }

  .popular-accordion-wrp .accordion-button {
    font-size: 20px;
  }

  .xclusve-txt h6 {
    font-size: 20px;
  }

  .content_para {
    font-size: 15px;
  }

  .inner_box_silder {
    padding: 22px;
  }

  .most-populr-sec.ms_dv .hd_text {
    margin-bottom: 40px;
  }

  .reviews_block .inn_sl_hed {
    align-items: end;
  }

  .read_sec_outer .read_text {
    font-size: 19px;
  }

  .h6_26 {
    font-size: 20px;
  }

  .tool-card .size18 {
    font-size: 15px;
  }

  .right-tool-btn {
    margin: 0 !important;
  }

  .right_tool_sec .right-tool-pack {
    padding-bottom: 30px;
  }

  .accor-bdy-btm {
    padding-top: 45px;
  }

  .foot-row {
    flex-wrap: wrap;
  }

  .foot-row-lft {
    flex-wrap: wrap;
    gap: 0;
  }

  .foot-col {
    width: 50%;
  }

  .foot-logo {
    width: 100%;
    padding-bottom: 20px;
  }

  .foot-row-lft {
    gap: 15px 0;
    padding-bottom: 0;
  }

  .foot-row-right {
    padding: 0px;
    align-items: start;
    border: none;
  }

  .top_header .navbar-toggler {
    border: none;
    background: transparent;
    padding: 0;
    outline: none;
    margin-right: 20px;
  }

  .top_header .navbar-toggler .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .top_header .navbar-toggler.collapsed .bar {
    background-color: #fff;
  }

  .top_header .navbar-toggler:not(.collapsed) .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .top_header .navbar-toggler:not(.collapsed) .bar:nth-child(2) {
    opacity: 0;
  }

  .top_header .navbar-toggler:not(.collapsed) .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .top_header .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .top_header .navbar {
    justify-content: end;
  }

  .top_header .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .top_header .container-fluid {
    padding: 0;
  }

  header .menu > li.menu-item > a {
    color: #000;
    display: inline-block;
  }

  .top_header .dropdown_toggle i {
    color: #000;
  }

  header .menu > li {
    border-color: #000;
  }

  header .menu li.menu-item.cat_menu_item {
    border: 1px solid #000;
    padding: 10px 20px;
  }

  .right_menu {
    color: #000;
    padding-top: 30px;
  }

  ul.menu {
    flex-direction: column;
  }

  .right_menu ul {
    gap: 14px;
  }

  /* 
  header .menu .dropdown_menu {
    background-color: #06498b;
    z-index: 1;
    color: #fff;
  } */

  header .menu li.menu-item {
    border: 1px solid #000;
    border-radius: 25px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  header .dropdown_menu li a {
    color: #000000;
  }

  header .menu > li.menu-item > a img {
    filter: invert(1);
  }

  .left_menu {
    padding-top: 20px;
  }

  .right_menu {
    padding: 30px 0 40px 40px;
  }

  header ul.menu {
    gap: 20px 0;
  }

  header .container-fluid {
    padding: 0px 15px;
  }

  .header_row {
    padding-bottom: 10px;
  }

  .banner_sec {
    border-radius: 0px 0px 70px 70px;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col h1 {
    font-size: 40px;
  }

  .banner_sec.inr-bnr {
    padding-top: 150px;
  }

  .sfwr_name h6 {
    font-size: 20px;
  }

  .banner_sec {
    padding-top: 140px;
  }

  .banner_text_col .search-box input {
    padding-right: 90px;
  }

  .logo_col img {
    max-width: 170px;
  }

  .Header_buttons .cta {
    padding: 8px 20px;
    min-width: 112px;
  }

  .header_row.head_srch .search-box input,
  .header_row.head_srch_new .search-box input {
    padding: 14px 15px;
    font-size: 9px !important;
  }

  .header_row.head_srch .search-box i,
  .header_row.head_srch_new .search-box i {
    padding: 9px 16px;
    font-size: 13px;
  }

  .Header_buttons {
    gap: 0 7px;
  }

  .header_row.head_srch .search-box,
  .header_row.head_srch_new .search-box {
    max-width: 42%;
  }

  .faq-accor .accordion-button::after,
  .faq-accor .accordion-button:not(.collapsed)::after {
    height: 30px;
    width: 30px;
    font-size: 13px;
  }

  .faq-accor .accordion-button,
  .faq-accor .accordion-button:not(.collapsed) {
    font-size: 18px;
  }

  .faq-accor .accordion-button {
    padding: 18px;
  }

  .faq-accor .accordion-body {
    padding: 18px;
    padding-top: 0px;
  }

  /* new cs */

  .new_objectives {
    margin-top: 30px;
  }

  .ms_dv .accor-txt-contnt {
    padding-left: 10px;
  }

  .ms_dv .mst_wrp {
    padding: 20px;
  }

  .ms_dv .new_objectives .row > div {
    margin-bottom: 30px;
  }

  .succes_sec .succes_infp {
    margin-top: 20px;
  }

  header.drk_header {
    padding: 10px 0px;
  }

  .hd-innr-txt {
    max-width: 690px;
  }

  .auto-choice-row {
    flex-direction: column;
    gap: 20px;
  }

  .auto-choice-lft {
    position: static;
    width: 100%;
  }

  .banner_content_inner p {
    font-size: 17px;
  }

  .pricing-options {
    padding: 20px 0;
  }

  .automotive-card {
    padding: 30px;
  }

  .xclusve-wrp .slick-prev {
    left: -35px;
  }

  .xclusve-wrp .slick-next {
    right: -35px;
  }

  .reviews_block .slick-prev {
    left: -23px;
  }

  .reviews_block .slick-next {
    right: -23px;
  }

  .myswtr_sec .msft_text {
    padding-left: 10px;
  }

  .cht_info p {
    margin-bottom: 5px;
  }

  .adip_sec .slide-count {
    padding: 14px 50px;
  }

  .adip_sec button.slick-arrow {
    top: 120% !important;
  }

  .adip_sec button.slick-next.slick-arrow {
    left: 58%;
  }

  .adip_sec button.slick-prev.slick-arrow {
    left: 35%;
  }

  .pvc_sec .pvc_textbx h6 {
    font-size: 22px;
  }

  .scl_login .login_link {
    padding: 12px;
  }

  .top-pro-btn.tp_visit .cta {
    padding: 11px 28px;
    gap: 5px;
  }

  .asn_dv .ans_ryt .site_vsit .shr_icn {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  .fetru_row {
    gap: 20px 0;
  }

  .main_feture .feture_box .accor-btn .cta {
    padding: 9px 30px;
  }

  .main_feture .feture_box p {
    margin-bottom: 10px;
  }

  .altr-lft-div ul li {
    font-size: 19px;
  }

  .altr-lft-div {
    width: 30%;
  }

  .poplr-progress .progress-bar {
    width: 130px;
  }

  .altr-mid-hd {
    gap: 12px;
  }

  .poplr-img img {
    height: 70px;
    max-width: 70px;
  }

  .p_lft {
    padding-left: 35px;
  }

  .poplr-txt h6 {
    margin-bottom: 0;
  }

  .altr-mid-div {
    padding: 50px 25px;
    padding-bottom: 30px;
  }

  .h_80 {
    height: 70px;
  }

  .poplr-visit-btn {
    height: 70px;
    align-items: end !important;
  }

  .poplr-visit-btn .cta {
    font-size: 16px;
    padding: 10px 0;
  }

  .poplr-span-txt p {
    font-size: 18px;
  }

  .cpa_rw {
    gap: 20px 0;
  }

  .cpa_rw2 .tp_box {
    padding: 20px;
  }

  .review_sec .review_detl {
    padding: 20px;
  }

  .review_sec .review_detl .reviw_hd {
    margin-bottom: 18px;
  }

  .size18 {
    font-size: 15px;
  }

  .btm-bttn {
    margin-top: 50px;
  }

  h6 {
    font-size: 23px;
  }

  .about_asn_content .asn_dv.asv_blue .asn-img img,
  .asn_dv_contnt .asn-img img {
    height: 70px;
    width: 70px;
  }

  .trial-avil .asn-rating p {
    font-size: 23px;
  }

  .sftware-alternative {
    flex-wrap: wrap;
  }

  .sftware-alternative-pck {
    width: 50%;
  }

  .ovr-progrs-div {
    flex-direction: row;
    gap: 0;
  }

  .sftware-alternative-pck:first-child,
  .sftware-alternative-pck:nth-child(2) {
    border-bottom: 1px solid #ffffff4d;
  }

  .sftware-alternative-pck:nth-child(2) {
    border-right: none;
  }

  .crm-pack-lft {
    padding: 40px 0;
  }

  .crm-review-innr .row {
    gap: 20px 0;
  }

  .sales-crm-pack ul li {
    flex-direction: row;
    gap: 15px;
  }

  .accor-btn .cta {
    padding: 12px 34px;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    gap: 0;
    justify-content: center;
  }

  .crm_review_box nav {
    justify-content: center;
    gap: 20px 0;
    flex-direction: column;
  }

  .crm_review_box nav {
    margin-bottom: 30px;
  }

  .review_sec .review_detl .reviw_hd {
    margin-bottom: 20px;
  }

  .tab-content .asn-img img {
    max-width: 60px;
    height: 60px;
  }

  .rating_str img {
    max-width: 100px;
  }

  .asan-slider-inr img {
    width: 100%;
  }

  /* shivani */
  .wmail_sec .metl-stp {
    padding: 20px 20px;
    margin-bottom: 30px;
  }

  .wmail_sec h4 {
    font-size: 30px;
  }

  .mail_ovr .metl_rw .ryt_bttn a {
    padding: 10px 16px;
  }

  .mail_ovr .metl_rw .ryt_bttn a img {
    margin-right: 15px;
    max-width: 16px;
  }

  .mail_ovr .metl_rw .lft_dta {
    gap: 15px;
  }

  .mail_ovr .metl_rw .lft_dta .thms_icn {
    gap: 10px;
  }

  .mail_ovr .metl_rw .lft_dta .thms_icn span {
    width: 35px;
    height: 35px;
  }

  .mail_ovr .metl_rw .lft_dta .thms_icn span i {
    font-size: 20px;
  }

  .shre_scl_icn .scl_lnks ul li a {
    width: 30px;
    height: 30px;
  }

  .wmail_sec .mail_ovr h6 {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  p {
    line-height: 1.3;
  }

  .wmail_sec .mail_acknd ul li {
    margin-bottom: 5px;
  }

  .versus-row {
    gap: 30px;
  }

  .pdc_ryt {
    padding: 30px 0;
  }

  .versus-box p::before,
  .versus-box p::after {
    height: 35%;
  }

  .pdc_box {
    padding: 30px 20px;
  }

  .main_feture .feture_box {
    padding: 18px 20px;
  }

  .cpa_bg {
    padding: 20px;
  }

  .cpa_bg_div.p_left {
    padding-left: 20px;
  }

  .xro_box.p_left {
    padding: 0;
  }

  .xrro_dv {
    padding: 20px;
  }

  .prc_dv {
    padding: 30px 40px;
  }

  .crm_sec .crm_review_box {
    margin-top: 65px;
  }

  .view-review .cta {
    padding: 11px 31px;
  }

  .view-review {
    padding-top: 40px;
  }

  .compari_tabi {
    padding-top: 30px;
  }

  .subs_sec.comprsn_chrt p {
    text-align: center;
    padding-top: 20px;
  }

  .subs_sec.comprsn_chrt .email_box input {
    padding: 20px 30px;
  }

  .subs_sec.comprsn_chrt .mail_field .accor-btn.sbs_bttn .cta.cta_white {
    padding: 20px 30px;
    white-space: nowrap;
  }

  .crm_review_box.compari_review .nav.nav-tabs .nav-link {
    font-size: 16px;
  }

  .crm_sec .crm_review_box.compari_review .nav.nav-tabs .nav-link {
    padding: 12px 55px;
  }

  .xrro_bordr {
    border-right: none;
  }

  .inn_sl_hed.mst_hdn {
    flex-direction: row;

    align-items: center;
    gap: 10px;
  }

  .most-populr-sec .accor-txt-contnt {
    padding-left: 0;
  }

  .right_menu {
    padding: 15px !important;
  }

  .select-box select {
    width: 100%;
  }

  .auto-choice-lft {
    border: 0;
    padding-right: 0;
  }

  .auto-choice-row {
    gap: 0;
  }

  .automotive-card {
    margin-bottom: 20px;
  }

  .right_tool_sec .right-tool-pack > div {
    flex-direction: column;
    gap: 20px;
  }

  .popular-accordion-wrp .accor-img {
    height: 40px;
    width: 40px;
  }

  .sft_btm {
    margin-top: 40px;
  }

  .sub_img {
    top: -15%;
  }

  .sub_img img {
    max-width: 100px;
  }

  .sales-crm-pack.crm-pack-lft.compari_crm_pck {
    justify-content: space-between;
  }

  .sales-crm-pack .inn_sl_hed {
    gap: 20px;
  }

  .main_feture .fetru_row {
    flex-wrap: wrap;
  }

  .main_feature_lg,
  .main_feature_sm {
    width: 48%;
    max-width: 48%;
  }

  .altr-mid-div {
    border-radius: 0;
  }

  .top-auto-bnr .hd-share {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  /* shivani */

  .sfwr_sec .sfwr_box {
    padding: 15px;
  }

  .contact_sec .contact_content {
    padding: 15px 15px;
  }

  .contact_sec form .form-control {
    padding: 12px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  /* rupali */
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h6 {
    font-size: 20px;
  }

  .altr-mid-div ul li {
    font-size: 16px;
  }

  .visit-btn .cta {
    padding: 8px 16px;
    font-size: 14px;
  }

  .txt-end {
    justify-content: start;
  }

  .brnd-p-txt {
    font-size: 16px;
  }

  .p_120 {
    padding: 70px 0px;
  }

  .search-bar-wrp {
    padding-top: 15px;
  }

  .search-box input {
    padding: 12px;
    padding-right: 70px;
    font-size: 12px;
  }

  .search-box i {
    padding: 8px 21px;
    font-size: 16px;
  }

  .popular-accordion-wrp .accordion-button {
    font-size: 18px;
  }

  .accor-bdy-hd .row {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .accor-bdy-btm {
    padding-top: 30px;
  }

  .section_hed {
    margin-bottom: 30px;
  }

  .cta {
    padding: 12px 30px;
  }

  .xclusve-pack {
    padding: 15px;
  }

  .xclusve-txt h6 {
    font-size: 18px;
  }

  .xclusve-wrp .grey-txt {
    font-size: 18px;
  }

  .xclusve-wrp .orange-txt {
    font-size: 22px;
  }

  .xclu-txt-btn .cta {
    font-size: 14px;
  }

  .size18 {
    font-size: 16px;
  }

  .smrt-srch-inpt {
    padding: 15px;
  }

  .top-rate-card h6 {
    font-size: 15px;
  }

  .inner_box_silder {
    padding: 18px;
  }

  .top-pro-btn .cta {
    padding: 8px 15px;
  }

  .slider_img {
    max-width: 50px;
  }

  .read_content_sec .row {
    gap: 20px;
  }

  .tool-card {
    max-width: 300px;
    margin: auto;
  }

  .right-tool-pack .row {
    gap: 15px;
  }

  .p_80 {
    padding: 60px 0;
  }

  .foot-row-right {
    padding: 0;
  }

  .foot-row-lft {
    padding-bottom: 0;
  }

  .foot-btm {
    padding: 20px 0;
  }

  header .container-fluid {
    padding: 0px 20px;
  }

  .top_header .navbar-toggler {
    margin-right: 20px;
  }

  .banner_sec {
    padding-top: 130px;
  }

  .banner_row .banner_text_col {
    width: 50%;
  }

  .altr-wrp-inr-txt {
    justify-content: start;
  }

  .banner_content_inner p {
    font-size: 15px;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col h1 {
    font-size: 38px;
  }

  .banner_row {
    flex-direction: column;
    gap: 30px;
  }

  .banner_row .banner_text_col,
  .banner_row .banner_image_col {
    width: 100%;
  }

  .banner_content_inner p {
    padding-right: 0%;
  }

  .top-rated-slider .slick-list.draggable {
    padding-bottom: 10px;
  }

  .banner_sec {
    border-radius: 0px 0px 50px 50px;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col {
    width: 100%;
  }

  .banner_text_col .search-box input {
    padding: 15px 24px;
  }

  .header_row.head_srch .search-box {
    display: none;
  }

  .hlp-you-box {
    padding: 15px;
  }

  .hlp-you-img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }

  /* new cs */
  .ms_dv .mst_wrp .accor-txt-contnt {
    margin-top: 20px;
    padding-left: 0;
  }

  .new_objectives .row > div {
    margin-bottom: 20px;
  }

  .ms_dv .mst_wrp .objec-img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }

  .new_objectives {
    margin-top: 20px;
  }

  .succes_sec .succes_infp .succs_grp {
    margin-top: 15px;
  }

  .succes_sec .succes_rw > div {
    margin-bottom: 30px;
  }

  .mb-0 {
    margin-bottom: 30px !important;
  }

  .hd_text {
    margin-bottom: 20px;
  }

  .scl_login .row {
    flex-direction: column;
    gap: 15px;
  }

  .hd-innr-txt {
    max-width: 500px;
  }

  .hd-innr-txt p {
    gap: 0;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .top-auto-bnr .banner_image_col {
    padding-bottom: 20px;
  }

  .hd-share i {
    height: 50px;
    width: 50px;
  }

  .auto-btm-hd .search-box {
    max-width: 250px;
  }

  .range-container {
    height: 60px;
  }

  .range-wrapper input[type="range"] {
    font-size: 11px;
    top: 3px;
  }

  .auto-choice-btn .cta_orange {
    padding: 10px 20px;
  }

  .text-choice a {
    font-size: 16px;
  }

  .choice-key-features h6,
  .starting-price h6 {
    font-size: 20px;
  }

  .key-fea-lst li {
    width: 100%;
  }

  .key-fea-lst {
    gap: 10px 0;
  }

  .key-feature-price {
    gap: 0px;
  }

  .recommend,
  .blue-chkbox {
    padding: 13px 15px;
  }

  .automotive-card {
    padding: 25px;
  }

  .automotive-pagination {
    padding-top: 20px;
    padding-left: 0;
  }

  .automotive-pagination .page-link {
    height: 45px;
    width: 45px;
    font-size: 18px;
  }

  .automotive-pagination .pagination {
    justify-content: center;
  }

  .top-automotive-sec.p_120 {
    padding-bottom: 100px;
  }

  .subs_sec .subs_content h2 {
    margin-top: 10px;
  }

  .xclusve-wrp .slick-prev {
    left: -27px;
  }

  .xclusve-wrp .slick-next {
    right: -27px;
  }

  .reviews_block .slick-prev {
    left: -15px;
  }

  .reviews_block .slick-next {
    right: -15px;
  }

  .chatwth_sec .cht_rw {
    flex-direction: column;
    gap: 20px;
  }

  .adp_rw {
    flex-direction: column;
    gap: 0px;
    background: #fafbfd;
    border-radius: 0px 0px 70px 70px;
  }

  .our_busn .mid_rw {
    margin-top: 40px;
  }

  .our_busn .mid_rw {
    flex-direction: column;
    gap: 20px;
  }

  .our_busn .our_busn_box .or_busn_bg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .our_busn .mid_rw {
    flex-direction: column;
    gap: 20px;
  }

  .adp_rw .adip_box {
    position: relative;
    text-align: center;
    left: 0;
    top: 0;
    transform: none;
  }

  .adip_sec .adip_ryt {
    border-radius: 0px 0px 70px 70px;
    padding: 30px 0px;
  }

  .adip_sec .adip_box .str_img {
    margin-top: 20px;
  }

  .adip_sec .adip_ryt .adp_txt {
    margin-bottom: 15px;
  }

  /* .adip_sec button.slick-arrow {
		top: 110% !important;
	} */

  .adip_sec button.slick-next.slick-arrow {
    left: 60%;
  }

  .adip_sec button.slick-prev.slick-arrow {
    left: 30%;
  }

  .contact_sec .contact_content {
    padding: 25px;
  }

  .popular-accordion-wrp .accordion-button,
  .popular-accordion-wrp .accordion-body {
    padding: 15px;
  }

  /* css friday */
  .altr-lft-div {
    width: 100%;
  }

  .altr-mid-div,
  .altr-rgt-div {
    width: 100%;
  }

  .asn_dv .ans_ryt .site_vsit {
    justify-content: flex-start;
  }

  .frst_rw {
    gap: 20px 0;
  }

  /* shivani */
  .mail_ovr .metl_rw {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .shre_scl_icn {
    gap: 15px;
  }

  .mail_ovr .metl_rw .ryt_bttn a {
    padding: 9px 14px;
  }

  .mail_ovr .metl_rw .ryt_bttn a img {
    margin-right: 10px;
    max-width: 14px;
  }

  .mail_ovr .metl_rw .lft_dta .thms_icn span {
    width: 30px;
    height: 30px;
  }

  .mail_ovr .metl_rw .lft_dta .thms_icn span i {
    font-size: 16px;
  }

  .altr-mid-hd {
    height: 100px;
    padding-bottom: 30px;
  }

  .sftware-alternative-pck {
    width: 100%;
  }

  .main_feture .feture_box.lft_check_box {
    padding-top: 30px;
  }

  .asan-slider.slider-nav .slick-slide img {
    height: 80px;
    max-width: 80px;
  }

  .altr-lft-div .altr-mid-hd {
    display: none;
  }

  .altr-wrp-inr-txt {
    gap: 30px 0;
  }

  .altr-lft-div,
  .altr-rgt-div {
    padding-top: 0;
  }

  .p_140 {
    padding: 90px 0px;
  }

  .flg_img {
    margin-bottom: 20px;
  }

  .row.cpa_rw2.size22 {
    gap: 20px;
  }

  .sftware-alternative-pck:first-child,
  .sftware-alternative-pck:nth-child(2),
  .sftware-alternative-pck:nth-child(3) {
    border-bottom: 1px solid #ffffff4d;
    border-right: 0;
  }

  .crm_sec .crm_hd {
    flex-direction: column;
    gap: 15px;
  }

  .sales-crm-pack .inn_h h6 {
    font-size: 24px;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    justify-content: unset;
  }

  .crm_sec .crm_review_box .nav {
    flex-wrap: nowrap;
  }

  .crm_sec .crm_review_box .nav.nav-tabs .nav-link {
    padding: 14px 25px;
    font-size: 17px;
  }

  .asn_dv.xeo_dv {
    align-items: flex-start;
  }

  .pdc_box {
    padding: 18px;
  }

  .product_comp_sec .main_feture {
    gap: 15px;
  }

  .main_feture.compari-feature .feture_box li {
    flex-direction: column;
  }

  .localio-brkdwn .main_feture .feture_box .progress-bar {
    width: 100%;
  }

  .cpa_bg li span img {
    min-width: 15px;
    height: 12px;
  }

  .tp_box ul li {
    gap: 10px;
  }

  .cpa_bg {
    padding: 18px;
  }

  .prc_dv .prc_bx .prc_contnt .auto-choice-btn .cta.cta_orange {
    padding: 11px 40px;
  }

  .prc_dv .prc_bx .prc_contnt .inn_h h6.head {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    padding: 10px 0;
  }

  .rev-tabi .row {
    gap: 20px;
  }

  .sales-crm-pack.compari_crm_pck .inn_sl_hed {
    width: 100%;
  }

  .sales-crm-pack.compari_crm_pck .tp-btm {
    flex-direction: row;
    gap: 5px;
  }

  .crm_sec .crm_review_box.compari_review .nav.nav-tabs .nav-link {
    padding: 8px 28px;
    font-size: 15px;
  }

  .rev-tabi .row {
    gap: 30px;
  }

  .subs_sec.comprsn_chrt .email_box input {
    padding: 18px 25px;
  }

  .subs_sec.comprsn_chrt .mail_field .accor-btn.sbs_bttn .cta.cta_white {
    padding: 22px 45px;
  }

  .header_row.head_srch_new .search-box {
    display: none;
  }

  .popular-accordion-wrp .accordion-button,
  .popular-accordion-wrp .accordion-body {
    padding: 12px;
  }

  .popular-accordion-wrp .accordion-item {
    margin-bottom: 15px;
  }

  .csd_sec.vid_sec .vide-box .csd-img img {
    width: 100%;
  }

  .choice_img img {
    height: 60px;
    max-width: 60px;
  }

  .compari_crm_pck .sftwre-alt-btn {
    padding-top: 20px;
  }

  .sales-crm-pack .inn_h {
    gap: 10px;
  }

  .most-populr-sec.ms_dv .hd_text {
    margin-bottom: 35px;
  }

  .ms_dv .mst_wrp .accor-txt-contnt {
    padding-top: 15px;
  }

  .main_feature_lg,
  .main_feature_sm {
    width: 100%;
    max-width: 100%;
  }
  .adip_sec button.slick-arrow {
    top: calc(100% + 70px) !important;
  }

  .right_tool_sec .back-image2 {
    bottom: 0px;
    right: 0px;
  }
  .right-tool-btn .cta {
    padding: 12px 40px;
  }
}

@media only screen and (max-width: 575px) {
  /* shivani */

  .sfwr_text ul li {
    line-height: 1.5;
    font-size: 14px;
  }

  .cta {
    padding: 10px 30px;
    font-size: 14px;
  }

  .snd_bttn {
    margin-top: 20px;
  }

  .contact_sec .contact_content h2 {
    margin-bottom: 10px;
  }

  /* rupali */
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
    line-height: 1;
  }

  h3 {
    font-size: 22px;
  }

  .slick-prev,
  .slick-next {
    height: 40px;
    width: 40px;
  }

  .cta {
    white-space: nowrap;
  }

  .banner_sec {
    border-radius: 0 0 50px 50px;
  }

  .banner_content_inner p {
    font-size: 14px;
    padding-right: 0;
  }

  .brnd-p-txt {
    font-size: 14px;
  }

  .brnd-wrp-lft {
    width: 150px;
  }

  .brnd-wrp-lft {
    width: 150px;
  }

  .brnd-p-txt::after {
    right: -17%;
    height: 75px;
  }

  .p_120 {
    padding: 50px 0px;
  }

  .accor-txt-contnt h6 {
    font-size: 18px;
  }

  .accor-bdy-btm .tp-btm {
    flex-direction: column;
    gap: 0;
  }

  .brnd-wrp-lft {
    left: -1px;
  }

  .inner_box_silder {
    padding: 15px;
  }

  .popular-accordion-wrp .accordion-button {
    font-size: 16px;
  }

  .slider_h {
    flex-direction: column;
    gap: 20px;
  }

  .smart_search_inner {
    border-radius: 30px;
    padding: 40px 20px;
  }

  .best-value {
    width: 240px;
    background-size: 100% 100%;
  }

  .best-value {
    transform: translateY(-27%);
  }

  .foot-btm {
    flex-direction: column-reverse;
    gap: 15px;
    align-items: center;
  }

  .foot-logo {
    padding-bottom: 10px;
  }

  .foot-col h6 {
    font-size: 20px;
  }

  .slick-prev,
  .slick-next {
    height: 30px;
    width: 30px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 16px;
  }

  .reviews_block .slick-dots li button:before,
  .reviews_block .slick-dots li.slick-active button:before {
    color: #fff;
  }

  .reviews_block .slick-dots {
    margin-top: 20px;
  }

  .reviews_block .slick-track {
    padding-bottom: 10px;
  }

  .save-txt p {
    font-size: 14px;
  }

  .input-btn {
    padding-left: 10px;
  }

  .input-btn img {
    height: 20px;
    min-width: 20px;
  }

  .header_row {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  header .container-fluid {
    padding: 0px 15px;
  }

  .banner_sec {
    padding-top: 180px;
  }

  .top_header .navbar-toggler {
    margin-right: 35px;
  }

  .top_header.dark {
    position: absolute;
    width: 100%;
    top: 16px;
    right: 0px;
  }

  .tool-card {
    max-width: 100%;
    width: 100%;
  }

  .outer_slider {
    overflow: hidden;
  }

  .xclusve-wrp .slick-list {
    margin: 0;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col {
    width: 100%;
  }

  .banner_sec.inr-bnr {
    padding-top: 160px;
  }

  .sfwr_sec .sfwr_content h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .accor-bdy-btm .top-rate-card h6 {
    font-size: 20px;
  }

  .banner_sec.help-cntr-bnr.inr-bnr .banner_row .banner_text_col h1 {
    font-size: 30px;
  }

  .banner_text_col .search-box input {
    padding: 15px 24px;
    padding-right: 83px;
  }

  .hlp-crd-row {
    gap: 20px 0px;
  }

  .faq-accor .accordion-button,
  .faq-accor .accordion-button:not(.collapsed) {
    font-size: 16px;
  }

  .faq-accor .accordion-body {
    font-size: 14px;
  }

  .faq-accor .accordion-button {
    padding: 15px;
  }

  .faq-accor .accordion-body {
    padding: 15px;
    padding-top: 0px;
  }

  .faq-accor .accordion-item,
  .hlp-you-box {
    border-radius: 10px;
  }

  .Header_buttons {
    gap: 0 20px;
  }

  .faq-accor .accordion-button {
    align-items: self-start;
  }

  .faq-accor .accordion-button::after,
  .faq-accor .accordion-button:not(.collapsed)::after {
    height: 28px;
    width: 28px;
    font-size: 12px;
  }

  .faq-accor .accordion-body {
    max-width: 100%;
  }

  /* new cs */
  .size18 {
    font-size: 14px;
  }

  .new_objectives {
    margin-top: 10px;
  }

  .ms_dv .mst_wrp .objec_box {
    padding: 15px;
  }

  .ms_dv .mst_wrp .objec-img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }

  .ms_dv .mst_wrp {
    padding: 15px;
  }

  header.drk_header {
    padding: 0px 0px;
  }

  .right_tool_sec .tool-card-img {
    height: 70px;
    width: 70px;
  }

  .auto-btm-hd {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start !important;
  }

  .auto-btm-hd .search-box {
    max-width: 100%;
  }

  .auto-btm-hd .select-box,
  .auto-btm-hd .select-box select {
    width: 100%;
  }

  .pricing-options {
    padding: 15px 0;
  }

  .show-more-txt a {
    font-size: 14px;
  }

  .xclusve-wrp .slick-prev,
  .top-rated-slider .slick-prev,
  .reviews_block .slick-prev {
    left: 15px;
    top: 100%;
    transform: translate(0px, 10px);
  }

  .xclusve-wrp .slick-next,
  .top-rated-slider .slick-next,
  .reviews_block .slick-next {
    right: 65%;
    top: 100%;
    transform: translate(0px, 10px);
  }

  .xclusve-deal.p_120,
  .smart-combined.p_120,
  .outer_slider.p_120 {
    padding-bottom: 100px;
  }

  .search-box input {
    font-size: 14px;
  }

  .range-wrapper .values {
    font-size: 15px;
  }

  .range-wrapper .values {
    padding: 0;
  }

  .auto-bg::after {
    left: 50%;
  }

  .auto-choice-hd {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .auto-choice-hd .tp-btm {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .auto-choice-btn .cta_orange {
    padding: 8px 16px;
    font-size: 13px;
  }

  .auto-choice-btn .cta_orange {
    padding: 8px 16px;
    font-size: 13px;
  }

  .key-feature-price {
    flex-direction: column;
    gap: 0px;
  }

  .choice-key-features {
    width: 100%;
  }

  .choice-key-features {
    padding-bottom: 0px;
  }

  .starting-price {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .key-fea-lst li {
    gap: 3px;
  }

  .auto-recomend .starting-price {
    padding-top: 0;
    padding-bottom: 100px;
  }

  .recommend {
    bottom: 95px;
  }

  .automotive-pagination .pagination {
    flex-wrap: wrap;
  }

  .subs_sec .subs_content h2 {
    margin-top: 25px;
  }

  .subs_sec .mail_field {
    flex-direction: column;
    gap: 15px;
  }

  .accor-btn.sbs_bttn {
    width: 100%;
  }

  .accor-btn .cta {
    width: 100%;
  }

  .top-automotive-sec.p_120 {
    padding-bottom: 80px;
  }

  .hd-innr-txt {
    max-width: 490px;
  }

  .hd-innr-txt {
    padding: 7px 5px;
  }

  .hd-innr-txt p {
    display: block;
  }

  .banner_sec.top-auto-bnr {
    border-radius: 0px 0px 20px 20px;
  }

  .starting-price span {
    font-size: 23px;
  }

  .range-wrapper input[type="range"] {
    font-size: 9px;
    top: 6px;
  }

  .hd-innr-txt {
    padding: 10px 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .auto-btm-hd .search-box input {
    padding: 15px 15px;
  }

  .our_busn .our_busn_box .or_busn_bg {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .our_busn .mid_rw {
    gap: 15px;
  }

  .adip_sec .slide-count {
    padding: 12px 50px;
    font-size: 14px;
  }

  .faq-accor .accordion-item {
    margin-bottom: 20px;
  }

  .pvc_sec .pvc_textbx h6 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .pvc_sec .pvc_textbx {
    margin-bottom: 20px;
  }

  .adip_sec button.slick-prev.slick-arrow {
    left: 15% !important;
  }

  .adip_sec button.slick-next.slick-arrow {
    left: 75%;
  }

  /* shivani */
  .wmail_sec h4 {
    font-size: 25px;
  }

  .wmail_sec .metl-stp {
    padding: 15px 15px;
    margin-bottom: 15px;
  }

  .sftware-alternative-pck {
    border: 1px solid #ffffff4d;
    border-radius: 15px;
  }

  .sftware-alternative {
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    background: none;
  }

  .crm_sec .crm_review_box .nav {
    flex-wrap: wrap;
  }

  .crm_sec .crm_review_box .nav.nav-tabs .nav-link {
    padding: 10px 18px;
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    border-radius: 10px;
  }

  .tab-content .asn-img img {
    max-width: 50px;
    height: 50px;
  }

  .size22 {
    font-size: 18px;
  }

  .review_sec .review_detl .rating {
    flex-wrap: nowrap;
    gap: 1px;
  }

  .review_sec .review_detl {
    padding: 15px;
  }

  .rating_str span i {
    max-width: 10px;
    height: 10px;
    width: 10px;
  }

  .about_asn_content .asn_dv.asv_blue .asn-img img,
  .asn_dv_contnt .asn-img img {
    height: 60px;
    min-width: 60px;
  }

  .sftware-alternative-pck:first-child,
  .sftware-alternative-pck:nth-child(2),
  .sftware-alternative-pck:nth-child(3) {
    border-right: 1px solid #ffffff4d;
  }

  .crm_sec .crm_hd {
    gap: 15px;
  }

  .tp_box ul li {
    gap: 8px;
    margin-bottom: 8px;
  }

  .cpa_rw2 .tp_box ul li span img {
    min-width: 12px;
    height: 12px;
  }

  .lyt-text {
    font-size: 16px;
  }

  .sales-crm-pack .choice_img img {
    height: 60px;
    max-width: 60px;
  }

  .crm-pack-lft {
    padding: 20px;
    border-radius: 20px;
  }

  .sales-crm-pack .inn_h h6 {
    font-size: 20px;
  }

  .sales-crm-pack .tp-btm {
    flex-direction: column;
    align-items: self-start;
    gap: 0;
  }

  .sales-crm-pack {
    justify-content: start;
  }

  .sales-crm-pack ul li {
    flex-direction: row;
    gap: 3px;
    flex-direction: column;
  }

  .sales-crm-pack .progress-bar {
    width: 100%;
  }

  .sales-crm-pack .fre_trail {
    width: 100%;
  }

  .crm_sec .crm_review_box {
    margin-top: 60px;
  }

  .pdc_box {
    flex-direction: column;
    gap: 30px;
    text-align: left;
  }

  .pdc_box .pdc_choice .auto-choice-hd .sl_h .inn_h {
    justify-content: start;
    gap: 10px;
  }

  .pdc_box .pdc_choice .auto-choice-hd .inn_sl_hed .sli_img.choice_img {
    margin-bottom: 15px;
    display: flex;
  }

  .versus-row .auto-choice-btn .cta_orange {
    width: 100%;
  }

  .versus-box p::before,
  .versus-box p::after {
    height: 1px;
    width: 38%;
  }

  .versus-box p::before {
    left: 0;
    top: 50%;
  }

  .versus-box p::after {
    right: 0;
    bottom: 50%;
  }

  .auto-choice-hd .tp-btm {
    flex-direction: row;
    align-items: flex-start;
  }

  .pdc_box .pdc_choice .auto-choice-hd .tp-btm {
    justify-content: space-between;
  }

  .asn_dv .ans_ryt .site_vsit .shr_icn {
    height: 40px;
    width: 40px;
    font-size: 15px;
  }

  .asn_dv.xeo_dv h2 {
    font-size: 24px;
  }

  .asn_dv.xeo_dv {
    margin-bottom: 5px;
  }

  .product_comp_sec .main_feture {
    gap: 18px;
    flex-direction: column;
  }

  .cpa_bg {
    flex-direction: column;
  }

  .cpa_bg_div {
    width: 100%;
  }

  .cpa_bg_div.p_left {
    padding-left: 0;
  }

  .cpa_bg_div:not(:last-child) {
    border-right: 0;
    border-bottom: 1px dashed #06498b42;
  }

  .prc_dv .prc_bx {
    flex-direction: column;
    gap: 15px;
  }

  .prc_contnt:first-child {
    border-right: 0;
    border-bottom: 1px dashed #ffffff67;
    padding-bottom: 25px;
  }

  .prc_dv {
    padding: 20px;
  }

  .prc_dv .prc_bx .prc_contnt {
    width: 100%;
  }

  .cpa_rw2 .tp_box ul li span.lyt-text {
    font-size: 16px;
  }

  .sales-crm-pack.compari_crm_pck .tp-btm {
    flex-direction: column;
    gap: 0;
  }

  .sftwre-alt-btn .cta {
    font-size: 13px;
    gap: 5px;
  }

  .sales-crm-pack .inn_h i {
    font-size: 16px;
  }

  .prc_dv .prc_bx .prc_contnt .auto-choice-btn .cta.cta_orange {
    width: 100%;
  }

  .subs_sec.comprsn_chrt .mail_field .accor-btn.sbs_bttn .cta.cta_white {
    padding: 13px 45px;
  }

  .subs_sec.comprsn_chrt .email_box input {
    padding: 14px 25px;
  }

  .crm_sec .crm_review_box .nav.nav-tabs {
    border: 1px solid #0125551a;
  }

  .sales-crm-pack .inn_ul,
  .sales-crm-pack .rate_box {
    font-size: 15px;
  }

  .sales-crm-pack.compari_crm_pck .inn_sl_hed {
    flex-direction: column;
  }

  .sales-crm-pack.compari_crm_pc .sl_h {
    width: 100%;
  }

  .inn_sl_hed.mst_hdn .top-pro-box .cta {
    padding: 10px 12px;
  }

  .inn_sl_hed.mst_hdn .sl_h .accor-bdy-btm .wishlist {
    height: 20px;
    width: 20px;
  }

  .sales-crm-pack.compari_crm_pck .tp-btm {
    flex-direction: row;
    gap: 2px;
  }

  .sales-crm-pack .inn_ul,
  .sales-crm-pack .rate_box {
    font-size: 14px;
  }

  .inn_sl_hed.mst_hdn .tp-btm {
    gap: 0;
  }

  .blu_drk_box {
    padding: 25px;
  }

  .pro-detail-bar-lst li {
    flex-direction: column;
  }

  .main_feture .feture_box .pro-detail-bar-lst .progress-bar {
    width: 100%;
  }

  .integrtion-lst li {
    width: 100%;
  }

  .asan-slider.slider-nav .slick-slide img {
    height: 50px;
    max-width: 60px;
  }

  .poplr-progress .prgs_br {
    width: 100%;
  }

  .poplr-progress .progress-bar {
    width: 100%;
  }

  .p_lft {
    padding-left: 15px;
  }

  .auto-choice-hd .tp-btm.flex-col-mob {
    flex-direction: column;
  }

  .banner_text_col .search-box input {
    padding: 12px 12px;
    padding-right: 83px;
    font-size: 14px;
  }

  .xclu-txt-btn .cta {
    padding: 12px 24px;
  }

  .automotive-pagination .page-link {
    height: 35px;
    width: 35px;
    font-size: 14px;
  }

  .subs_sec .subs_content h2 {
    margin-top: 10px;
  }

  .auto-choice-row .text-choice p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
  }

  footer ul li {
    list-style: none;
    padding: 5px 0;
  }

  .foot-btm {
    gap: 8px;
  }

  .most-populr-sec.ms_dv .hd_text {
    margin-bottom: 30px;
  }

  .drk_header .header_row {
    padding-top: 12px;
  }

  .top-auto-bnr .hd-share {
    height: 48px;
    width: 48px;
  }

  .top-auto-bnr .hd-share img {
    height: 18px;
  }

  .hd-share-flex {
    gap: 10px;
  }

  .auto-choice-rgt .select-box {
    max-width: 100%;
  }
  .back-image2 {
    right: 0px;
    bottom: 0px;
  }
  .back-image1 {
    left: 0;
    top: 0px;
  }
}
