@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* font-family: "Montserrat", sans-serif !important; */
    font-family: 'Basis Grotesque Pro';
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: #000;

}

img {
    max-width: 100%;
}

.btn:focus {
    box-shadow: none;
}

a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
    border: none;
}

a:hover,
button:hover {
    text-decoration: none;
    outline: none;

}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;

}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #002347;

}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;
    color: #000000;

}

h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #000000;
}

h6 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.user_detail h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    color: #000;
    margin-bottom: 0;

}

.unq_btn {
    background-color: #FD5602;
    border: 1px solid #FD5602;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
    border-radius: 130px;
    padding: 13px 38px;
    color: #FFF;
    transition: all 0.3s ease-in-out;
    max-width: fit-content;
}

.unq_btn:hover {
    background-color: #fff;
    color: #FD5602;
}

.blue-btn {
    background-color: #06498B;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 190px;
    display: inline-block;
    padding: 13px 45px;
}

.blue-btn:hover {
    background-color: #F9633B;
    color: #fff;
    transition: 0s;
}

.dropdown-menu .user_detail p {
    margin-bottom: 0;
}

.drop_menu {
    cursor: pointer;
}

.main_dhdr {
    padding: 20px 0px 30px 0;
    background-color: #fff;
}

.main_dhdr nav.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0;
}

.main_dhdr .form {
    border: 1px solid #06498B26;
    padding: 6px 7px;
    border-radius: 110px;
    /* position: relative; */
    min-height: 59px;
    width: 693px;
    display: flex;
    align-items: center;
}

.main_dhdr .hdr_ryt .hdr_info {
    display: flex;
    align-items: center;
    gap: 32px;
}

.main_dhdr .form input[type="search"] {
    background: none;
    border: none;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    height: 100%;
    padding: 15px;
    padding-left: 22px;
}

.main_dhdr .form input:focus {
    border: none;
    outline: none;
}

.main_dhdr .form button {
    background: #F9633B;
    /* top: 0; */
    color: #fff;
    border-radius: 110px;
    width: 79px;
    height: 47px;
    border: 1px solid #F9633B;
    transition: all 0.3s ease-in-out;
}

.main_dhdr .form button:hover {
    border-color: #FD5602;
    background: #fff;
    color: #FD5602;
}

.main_dhdr .hdr_lft .navbar-brand {
    display: inline-block;
    max-width: 219px;
    margin: 0;
    padding: 0;
}

.notf .notfictn_lnk i {
    color: #000000;
}


.notf .notfictn_lnk {
    position: relative;
    display: inline-block;
}

.notf .notfictn_lnk img {
    max-width: 20px;
}

.usr_profile {
    max-width: 60px;
}

.notf .notfictn_lnk .badge {
    position: absolute;
    top: -2px;
    right: -6px;
    background: #FD5602;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* user dashboard css start here */
.user_dashbord .dashboard_lft {
    background: #06498B;
    padding: 50px 0px 50px 50px;
    height: 100%;
}


.left-text ul li a.nav-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: #fff;
    padding: 10px 14px;
    transition: all 0.2s ease-in-out;
}

.left-text ul li a.nav-link .side-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-text ul li a.nav-link .side-links .icons-links {
    border: 1px solid #FFFFFF;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.left-text ul li:hover a.nav-link .side-links .icons-links {
    border-color: #012555;
}

.left-text ul li.nav-links {
    margin-bottom: 20px;
}

.left-text ul li a.nav-link.active {
    background: #FFFFFF;
    border-radius: 150px 0px 0px 150px;
}

.left-text ul li a.nav-link.active {
    color: #012555;
}

.left-text ul li a.nav-link.active svg path {
    transition: all 0.3s ease-in-out;
}


.left-text ul li a.nav-link.active svg:hover path {
    fill: #012555;
    stroke: #012555;
}

.left-text ul li:hover a.nav-link {
    color: #012555;
    background-color: #fff;
    border-radius: 150px 0px 0px 150px;
}

.left-text ul li:hover a.nav-link svg path {
    fill: #012555;
    stroke: #012555;
}

.left-text ul li:hover a.nav-link.nav_sv svg path:last-child {
    fill: #fff;
    stroke: #fff;
}

.left-text ul li a.nav-link.active .side-links .icons-links {
    border-color: #012555;
}

.user_dashbord .user_content {
    padding: 60px 65px 60px 65px;
}

.user_dashbord .user_content .uer_nm {
    margin-bottom: 20px;
}

.user_content .acc-box {
    display: flex;
    align-items: center;
    padding: 47px 40px;
    border: 1px solid #06498B26;
    border-radius: 10px;
    background-color: #fff;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    height: 100%;
}

.user_content .acc-box:hover {
    background-image: radial-gradient(rgba(255, 255, 255, 1),
            transparent 20%,
            rgba(0, 0, 0, 0.05));
}


.user_content .acc-box .acc-img {
    max-width: 90px;
    flex: 0 0 20%;
}

.user_content .acc-box .acc-text h2 {
    margin-bottom: 5px;
}

.user_content .acc-box .acc-text p {
    margin-bottom: 0;
    color: #000;
}

.user_dashbord .user_content .mi_detail {
    max-width: 1190px;
}


/* footer css */
footer.ds_ftr {
    padding: 40px 0px;
    position: relative;
}

.ds_ftr .foot_end_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds_ftr .foot_end_box .reserve_box {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #000000;
}

.ds_ftr span#selected-option {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    text-align: right;
    color: #000;
}

.ds_ftr .custom-select {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
    cursor: pointer;
    position: relative;
    background: white;
}

.ds_ftr .arrow {
    transition: transform 0.3s ease;
}

.custom-select.active .arrow {
    transform: rotate(180deg);
}

.ds_ftr .dropdown-options {
    display: none;
    border: 1px solid #06498B26;
    width: 200px;
    position: absolute;
    background: white;
    z-index: 10;
    right: 5%;
    bottom: 100%;
    border-radius: 10px;
}

.ds_ftr .dropdown-options .option {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.dropdown-options .option:hover {
    background-color: #01255508;
}

.custom-select.active+.dropdown-options {
    display: block;
}

.drop_menu .dropdown-menu {
    display: block;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    width: 300px;
    border-radius: 5px;
    border: 0px;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    right: 0;
    left: auto;
    border-radius: 20px;
    position: absolute;
}

.drop_menu:hover .dropdown-menu {
    opacity: 1;
    transform: scale(1);
}

.dropdown-menu .user_detail {
    display: flex;
    align-items: center;
    background-color: #FD56024D;
    padding: 25px 25px;
    border-radius: 20px 20px 0 0;
}

.dropdown-menu .user_detail .user_img {
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    font-weight: 500;
}

.dropdown-menu .user_detail .user_name {
    width: 100%;
    padding-left: 15px;
}

.drop_menu .dropdown-menu .dash-icon {
    display: flex;
    align-items: center;
}

.drop_menu .dropdown-menu .dropdown-item {
    border: 0px;
    padding: 16px 25px;
    color: #656f79 !important;
}

.drop_menu .dropdown-menu .dropdown-item i {
    min-width: 23px;
    color: #656f79 !important;
}

.user_dashbord {
    background-color: rgba(6, 73, 139, 0.03);
    overflow-x: hidden !important;
}

/* page2 css */
.cart_dv {
    display: flex;
    justify-content: space-between;
    padding: 26px 31px;
    /* border: 1px solid #01255526; */
    border: 1px solid #06498B26;
    border-radius: 15px;
    /* gap: 40px; */
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
}

.cart_dv:hover {
    box-shadow: -40px -46px 60px 0px #06498B05;
    background-color: #fff;
}

.cart_dv .crt_lft {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 0 0 65%;
}

.cart_dv .crt_lft .cart_text {
    max-width: 720px;
}

.cart_dv .crt_lft .cart_img {
    max-width: 140px;
    background: #01255514;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 10px 13px;
}

.cart_dv .crt_lft .cart_text h4 {
    margin-bottom: 13px;
}

.cart_dv .crt_lft .cart_text p {
    margin-bottom: 0;
    font-weight: 400;
}

.crt_ryt {
    display: flex;
    gap: 50px;
    align-items: center;
}

.crt_ryt .datt_text p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    color: #000;
    margin-bottom: 0;
}

.crt_ryt .datt_text {
    flex: 0 0 40%;
}

.crt_ryt .datt_text p.dt_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    margin-bottom: 5px;
}

.crt_ryt .edt_lnk span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #06498B;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.shr_dt span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #F4F4F4;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.shr_dt {
    cursor: pointer;
}

.crt_ryt .edt_lnk span img {
    max-width: 22px;
}

/* dash 7 page */
.user_dashbord .main_ryt h2 {
    margin-bottom: 30px;
}

.user_dashbord .main_ryt {
    border: 1px solid #01255526;
    background-color: #fff;
    padding: 30px;
    border-radius: 25px;
}

.user_dashbord .table-container {
    width: 100%;
    overflow-x: auto;
    max-width: 1235px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.user_dashbord .table-container table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;

}

.user_dashbord .table-container table tr {
    border-bottom: 1px solid #E0E0E0;
}

.user_dashbord .table-container td {
    padding: 16px 34px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.user_dashbord .table-container th {
    background: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: center;
    color: #012555;
    padding: 14px 29px;
    white-space: nowrap;
}

.user_dashbord .table-container td a {
    text-decoration: underline;
    font-weight: 500;
}

.user_dashbord .table-container {
    overflow-x: auto;

}

.user_dashbord .table-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.user_dashbord .table-container::-webkit-scrollbar-track {
    background: #F5F5F5;
    border-radius: 5px;
}

.user_dashbord .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.user_dashbord .table-container::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.btm_btn {
    margin-top: 50px;
}

.cart_dv.ctv_docx {
    padding: 40px;
    margin-bottom: 60px;
}

.cart_dv.ctv_docx .crt_lft .cart_img {
    max-width: 289px;
    padding: 30px 50px;
}

.cart_dv.ctv_docx .crt_lft {
    flex: 100%;
    gap: 35px;
}

.cart_dv.ctv_docx .crt_lft .cart_text {
    max-width: 100%;
}

.main_doxc {
    margin-top: 32px;
    display: flex;
    gap: 20px;
}

.main_doxc .dcx_btn {
    width: 50%;
    text-align: center;
}

.unq_btn.dc_btn {
    background: #012555;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 20px;
    border: 1px solid #012555;

}

.unq_btn.dc_btn:hover {
    color: #012555;
    background: #fff;
}

.doc_contnt h2 {
    text-align: center;
    margin-bottom: 35px;
}

.doc_box {
    padding: 52px 35px 40px;
    border: 1px solid #0125551A;
    box-shadow: 20px 15px 30px 0px #00000012;
    background: #FFFFFF;
    border-radius: 15px;
    height: 100%;
}

.doc_img {
    max-width: 112px;
    margin: auto;
    margin-bottom: 26px;
}

.doc_text {
    max-width: 612px;
    margin: auto;
    text-align: center;
}

.doc_text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}

.cart_dv.ctv_docx h2 {
    margin-bottom: 10px;
}

.cart_dv.ctv_docx .crt_lft .cart_text p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 16px;
}

.cart_dv.ctv_docx .crt_lft .cart_text .crt_sub p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #000;
    margin-bottom: 0;
}

.cart_dv.ctv_docx .crt_lft .crt_sub {
    max-width: 834px;
}

.editar_documento {
    margin-top: 60px;
    display: flex;
    gap: 12px;
}

.editar_documento .dcmnt_btn {
    max-width: 190px;
    width: 100%;
}

.editar_documento .dcmnt_btn a.unq_btn {
    width: 100%;
    text-align: center;
    padding: 20px 52px;
}

/* abinav css */

.user_dashbord .user_content.user_info .uer_nm {
    margin-bottom: 24px;
}

.img_cambair {
    gap: 30px;
    margin-bottom: 31px;
}

.per_img {
    width: 100px;
    height: 100px;
}

.img_logo {
    width: 40px;
    height: 40px;
    bottom: 0;
    border: 1px solid #FFFFFF;
    background-color: #F4F4F4;
    right: 0;
}

.input_fuild label {
    font-weight: 400;
}


.user_pernl_info {
    border-radius: 25px;
    border: 1px solid #01255526;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 25px 64px 39px 36px;
}

.data_take {
    background-color: #012555;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.pernl_data {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.info {
    gap: 20px;
}

.input_fuild {
    flex: 1 1 calc(50% - 20px);
    margin-bottom: 20px;
}

.input_fuild input[type="text"] {
    padding: 20px;
}

.input_fuild::placeholder {
    font-family: Basis Grotesque Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.66px;
}

.input_fuild label {
    margin-bottom: 15px;
}

.input_fuild_full label,
.input_fuild_full input[type="text"] {
    flex: 1 1 100%;
}

.body_form input[type="text"] {
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.66px;
    text-align: left;
    font-family: Basis Grotesque Pro;
}

.body_form {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #01255526;
    border-radius: 0px 0px 10px 10px;
}

.eliminar_cuenta {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #01255526;
    padding: 40px;

}

.eliminar_cuenta p {
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.eliminar_cuenta p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: #012555;
}

.gr_btn {
    display: block;
    max-width: 210px;
}

.gr_btn .unq_btn {
    width: 100%;
    text-align: center;
}

/* page 5 */

.part_review {
    padding: 37px;
    background-color: #01255508;
    margin-bottom: 30px;
}

.part_review:hover {
    background-color: #fff;

}

.user_img_reciew {
    width: 73px;
    height: 73px;
}

.star_box {
    background-color: rgb(0, 182, 122);
    display: inline-block;
    padding: 0px 3px;
}

.part_review {
    padding: 41px 32px;
    border: 1px solid #01255526;
    box-shadow: -40px -46px 60px 0px #06498B05;
    border-radius: 15px;
}

.part2_child-1 p {

    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.dot {
    width: 50px;
    height: 50px;
}

.start_name_1 {
    display: flex;
    justify-content: space-between;
}

.revies_persn .name_star p {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 5px;
}

.start_name_1 span {
    margin-right: 3px;
}


/* 30jan */
.part_2 h4 {
    margin: 10px 0px;
}

.dot {
    position: relative;
}

.dropdown-menu_review p {
    font-size: 20px;
    padding: 15px 0px;
    margin: 0px;
    background-color: #feccb3;
}

p.time_re {
    margin-right: 113px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.5px;
    color: #5A5A5A;
}

.inner_1part {
    margin-bottom: 28px;
}

.part2_child-2 .shr_dt.dot {
    margin-left: auto;
}

.dropdown-menu_review {
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    right: 60%;
    top: 70%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.dropdown-menu_review .dropdown-main .dash-icon .dropdown-item {
    font-size: 16px;
    padding: 10px 29px 10px 20px;
}

.dropdown-menu_review .dropdown-main .dash-icon .dropdown-item i {
    margin-right: 8px;
}

.dropdown-menu_review p {
    margin-top: 0px;
}

/* page -6 */

.password-field {
    position: relative;

    input {
        width: 100%;
        border: 1px solid #E0E0E0;
    }
}

#toggler {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fakePassword::placeholder {
    font-family: Basis Grotesque Pro;

    font-weight: 400;
    line-height: 23.24px;

}

.fakePassword {
    padding: 18px 20px;
    border-radius: 5px;
    line-height: 23.24px;
    font-family: Basis Grotesque Pro;
    font-weight: 400;
}

.Cont_from .fuild label {
    font-weight: 400;
    line-height: 21.94px;
    margin: 15px 0px;
}

.fuild_2 .fuild {
    flex: 1 1 calc(50% - 20px);
}

.fuild_2 {
    gap: 20px;
}

.trpt_bg_btn {
    color: #000;
    border: 1px solid #01255526;
    background-color: transparent;
}


/* TEXT-EDITER */

.wrap {
    width: 100%;
    margin: 35px 0px;
    background: #fafafa;
    border: 1px solid #E0E0E0;
    position: relative;
}

.toolbar {
    width: 100%;
    background-color: #01255508;
    padding: 10px 0px;
}

.toolbar button {
    background: none;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    outline: none;
}



#bold,
#italic,
#underline {
    font-size: 18px;
}

#underline,
#align-right {
    margin-right: 17px;
}

#align-left {
    margin-left: 17px;
}

select {
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    background: #fcfcfc;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin: 0;
    outline: none;
    cursor: pointer;
}

select>option {
    font-size: 15px;
    background: #fafafa;
}

#fonts {
    width: 140px;
}

.sp-replacer {
    background: #fcfcfc;
    padding: 1px 2px 1px 3px;
    border-radius: 3px;
    border-color: #a6a6a6;
    margin-top: -1px;
}

.sp-replacer:hover {
    border-color: #a6a6a6;
    color: inherit;
}

.sp-preview {
    width: 15px;
    height: 15px;
    border: none;
    margin-top: 2px;
    margin-right: 3px;
}

.sp-preview-inner,
.sp-alpha-inner,
.sp-thumb-inner {
    border-radius: 3px;
}

.editor {
    position: relative;
    width: 100%;
    height: 544px;
    margin: 0 auto;
    padding: 15px;
    background: #fcfcfc;
    word-break: break-all;
    outline: none;
    overflow-y: scroll;
    resize: vertical;
}

.wrap::after {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    border: 1px solid #01255526;
    z-index: 0;
}

.editor h2,
.editor h4,
.editor h5,
.editor p {
    color: #012555;
}


.editar_documento .trpt_bg_btn {
    margin-right: 12px;
}

.dropdown-menu_review {
    display: none;
}

.dropdown-menu_review.show {
    display: block;
}

.dropdown-menu_review p {
    font-weight: 500;

}

.Cont_from .password-field input:-webkit-autofill {
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;

}

.Cont_from .password-field input:-webkit-autofill:focus {
    background-color: #fff !important;
}

.fuild_2 {
    margin-top: 20px;
}

/* 10feb2025///////////////////////// */

.left-text ul li a.nav-link.active .side-links .icons-links img {
    filter: invert(1);
    color: #000 !important;
}

.left-text ul li a.nav-link:hover .side-links .icons-links img {
    filter: invert(1);
    color: #000 !important;
}



/* 11-feb-25 */
.crt-lft-top,
.crt-ratings {
    align-items: center;
    gap: 30px
}

.star-div {
    align-items: center;
}

.crt-lft-top p {
    margin: 0;
}

.star-div .stars {
    padding: 0 6px;
}

.stars img {
    height: 20px;
    width: 20px;
}

.g-5 {
    gap: 5px;
}

.crt_ryt.save-rgt {
    gap: 30px;
    margin-top: auto;
    flex-direction: column;
    align-items: end;
}

.crt-lft-btm {
    padding-top: 23px;
    padding-bottom: 40px;
}

.cart_text h3 {
    color: #002347;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.start-price h5 {
    font-size: 22px;
    font-weight: 700;
    color: #002347;
}

.value-p {
    font-size: 16px;
}

.value-p span {
    color: #F9633B;
    font-size: 28px;
    font-weight: 700;
}

.crt-ratings {
    font-size: 16px;
    line-height: 1.5;
}

.cross-icon {
    position: absolute;
    top: 21px;
    right: 24px;
    max-width: fit-content;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background-color: #06498B1A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row.cart_dv.savings_main {
    position: relative;
    padding: 35px 24px 30px 40px;
    font-weight: 400;
}

.star-p-txt p {
    padding-top: 8px;
}

.stars ul {
    gap: 3px;
}

.cart_dv.review_dv {
    flex-direction: column;
    padding: 40px;
    padding-bottom: 20px;
}

.month-ago p {
    font-size: 14px;
    color: #455A64;
}

.cart_dv.review_dv .crt-lft-top {
    gap: 17px;

}

.review-btm {
    padding-top: 40px;
    gap: 100px;
}

.reward-main-inner {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rewrd-inner-hd {
    background-color: #06498b08;
    border: 1px solid #E0E0E0;
    padding: 12px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rewrd-inner-hd h4 {
    font-weight: 500;
    margin: 0;
    font-size: 22px;
}

.rewrd-innr-btm {
    padding: 30px;
    gap: 20px;
}

.points-div {
    border: 1px solid #E0E0E0;
    padding: 20px;
    border-radius: 5px;
    width: 49%;
    align-items: center;
    gap: 20px;
}

.points-text p {
    margin-bottom: 8px;
    font-size: 20px;
    color: #455A64;
    font-weight: 400;
}

.copy-cod-txt {
    color: #F9633B;
    background-color: #F9633B05;
    border-radius: 190px;
    border: 1px solid #F9633B;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.rewrd-innr-crd {
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    padding: 30px;
    padding-bottom: 20px;
    position: relative;
}

.copy-svg {
    background-color: #F9633B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 190px;
    padding: 15px 30px;
    cursor: pointer;
}

.copy-cod-txt p {
    width: calc(100% - 80px);
}

.apply-btn .blue-btn {
    display: block;
    text-align: center;
    padding: 13px;
    margin-top: 13px;
}

.three-dots img {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.rewrd-innr-crd h6 {
    margin: 30px 0;
    font-size: 20px;

}

.unq_btn:hover .srrw-svg svg path {
    stroke: #FD5602;
    transition: all 0.3s ease-in-out;
}

.profile-main-hd {
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.profile-main {
    border: 1px solid #06498B26;
    border-radius: 25px;
    padding: 40px;
}

.profile-main .rewrd-inner-hd h4 {
    font-size: 24px;
}

.form-wrp input,
.form-wrp select {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 16px;
    height: 100%;
    font-weight: 400;
    height: 55px;
}

.form-wrp input::placeholder,
.form-wrp select {
    color: #455A64;
}

.form-wrp select {
    appearance: none;
    background: transparent;
}

.rewrd-innr-btm form {
    width: 100%;
}

.rewrd-innr-btm form .row {
    gap: 30px 0;
}

.form-wrp label {
    font-weight: 400;
    margin-bottom: 14px;
}

.sve-btn {
    padding-top: 35px;
}

.profile-main.deactivate-accnt {
    background-color: #fff;
    margin-top: 40px;
    font-weight: 400;
}

.deactivate-accnt h6 {
    font-size: 24px;
    font-weight: 500;
}

.deactivate-accnt a {
    color: #06498B;
    font-weight: 700;
}

.click-deacti:hover {
    color: #FD5602;
}

.profile-main-hd .blue-btn {
    font-weight: 500;
}

.sve-btn .unq_btn {
    padding: 16px 57px;
}

.profile-main.deactivate-accnt p {
    margin: 15px 0;
}

/* 12-feb-25 */
.profile-img {
    position: relative;
}

.upload-img {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.dropdown-main.notify-drop {
    position: relative;
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.5;

    padding-right: 4px;
}

.dropdown-menu.dropdown-menu-right.notify-drop-main {
    width: 100%;
    max-width: 428px;
    /* to show dropdown menu without hover */ 
    /* opacity: 1;
    transform: none; */
}

.all-unread-tabs .nav-link.active {
    background-color: transparent;
    color: #000;
}

.all-unread-tabs .nav-link {
    color: #455A64;
    padding: 10px 15px;
    padding-left: 0;
}

.all-unread-hd {
    padding: 5px 0;
    border-top: 1px solid #06498B26;
    border-bottom: 1px solid #06498B26;
    justify-content: space-between;
}

.notify-pic img {
    min-width: 50px;
}

.notify-cntnt p {
    margin: 0;
    color: #000;
    font-weight: 500;
}

.notify-cntnt ul li a {
    align-items: center;
    gap: 13px;
}

.time {
    white-space: nowrap;
    color: #000;
    font-weight: 500;
}

.notify-cntnt ul li {
    padding: 20px 0;
    border-top: 1px solid #06498B26;
}

.notify-cntnt ul li:last-child {
    padding-bottom: 0;
}

/* custom scroll bar */
.all-unread-tabs {
    position: relative;
    max-height: 420px;
    overflow-y: scroll;
}

.all-unread-tabs::-webkit-scrollbar {
    width: 5.5px;
}

.all-unread-tabs::-webkit-scrollbar-track {
    background-color: #06498B26;
    border-radius: 5px;
}

.all-unread-tabs::-webkit-scrollbar-thumb {
    background-color: #06498B;
    border-radius: 5px;
}

/* custom scroll bar css ends*/
.notify-cntnt ul li:first-child {
    border: 0;
    padding-top: 0;
}

.day {
    padding: 15px 0;
}

.p_lft_rgt {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-main.notify-drop .user_detail_hd {
    padding-bottom: 15px;
}

.mark-as a {
    color: #06498B;
    font-weight: 500;
}

.dropdown-main.notify-drop .user_detail_hd h5 {
    font-size: 14px;
}