table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: normal !important;
}
.review-section {
    border: 1px solid #dbdfea;
    width: 771px;
    margin-left: 133px;
}
.review-inner {
    padding: 1.5rem;
    width: 738px;
}
.review-title {
    margin-left: 423px;
}
.form-row {
    margin-left: 18px;
}
button.addCategory.btn.btn-primary.review-btn {
    margin-left: 27px;
}

.nk-header.nk-header-fixed.is-light {
    background: #06498B;
    border-left: 1px solid white;
}

.icon{
    color: white !important;
}
i.icon.fas.fa-icons{
    color:white ;
}
a.nk-menu-link {
    color: white;
}

.nk-sidebar-element.nk-sidebar-head{
    background: #06498B;
}
.simplebar-mask {
    background: #06498B;
}
